/*------------------------------------------------------------------------------------------------------*/
$main-color1: rgb(232, 120, 142)
$main-color2: rgb(100, 185, 183)
$header-height: 7rem
$header-height-mobile: 3.5rem
$font-color: rgb(66, 71, 76)
/*------------------------------------------------------------------------------------------------------*/  
*
  box-sizing: border-box
  margin: 0
  padding: 0  
img
  border: 0
body
ol, ul, li
  list-style: none
h1, h2 ,h3 ,h4, h5, h6, span, p
  line-height: 180%
p
  font-size: 1.1rem
ul, li, a
  font-size: 1.05rem
a
  text-decoration: none
  color: $font-color
blockquote
  opacity: .8
  border-left: .25rem solid rgba(47, 51, 58, .5)
  padding-left: .5rem
  margin: 1rem 0
::selection 
  background: $main-color1
  color: #FFF
::-moz-selection
  background: $main-color1
  color: #FFF
::-webkit-scrollbar
  width: 5px
::-webkit-scrollbar-track-piece
  background: transparent
::-webkit-scrollbar-thumb:vertical
  height: 15px
  border-radius: 5px
  background-color: $main-color1  
::-webkit-scrollbar-thumb:horizontal
  width: 15px
  border-radius: 5px
  background-color: $main-color1
body
  font-family: 'Microsoft JhengHei'
  position: relative
  color: $font-color
  background-size: 1.8rem 1.8rem
  background-color: rgba(255, 233, 220, .1)
  background-image: linear-gradient(0deg, transparent 92%, rgba(89, 135, 125, .07) 50%), linear-gradient(90deg, transparent 92%, rgba(89, 135, 125, .07) 50%)
.header
  position: fixed
  top: 0
  left: 0
  height: $header-height
  width: 100%
  background-size: 1.8rem 1.8rem
  background-color: rgb(255, 248, 238)
  background-image: linear-gradient(0deg, transparent 92%, rgba(89, 135, 125, .07) 50%), linear-gradient(90deg, transparent 92%, rgba(89, 135, 125, .07) 50%)
  z-index: 3000
  transition: all .5s ease
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .2)  
  .title
    position: absolute
    top: 1rem
    left: 1rem
    display: block
    user-select: none
    cursor: pointer
    h1
      font-size: 2rem
      position: relative
    span
      font-size: .9rem
      position: relative
  .logo
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: $header-height
    height: $header-height
    background: url('/dest/img/logo.svg')
    background-position: 50% 50%
    background-size: 150% 150%
    transition: all .5s ease
    cursor: pointer
  .menu-list      
    position: absolute
    right: 1rem 
    top: 1rem
    display: flex
    flex-direction: row
    height: 1rem
    line-height: 1rem
    font-size: 1rem
    transition: all .4s ease
    user-select: none
    li
      margin: 0 .8rem
      position: relative
      cursor: pointer
      &:hover:before
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        height: 120%
        width: 130%
        content: ''
        background: rgba(100, 185, 183, .4)
        border-bottom-left-radius: 100px 500px
        border-bottom-right-radius: 100px 500px
        border-top-left-radius: 500px 100px
        border-top-right-radius: 500px 100px
        z-index: -1
      a
        position: relative        
        font-weight: 900

.reduce
  height: 3.5rem
  .title
    display: none
  .logo
    position: absolute
    top: 50%
    left: 1rem
    transform: translate(0%, -50%)
    height: 3.5rem
    width: 3.5rem
  .menu-list      
    top: 1.25rem    
.adjust
  .float-box
    margin-top: -($header-height / 2)
    opacity: 1 !important

.container
  position: relative
  top: $header-height
  overflow-x: hidden
  overflow-y: auto
  width: 100%  
  .articles
    min-height: calc(100vh - 12rem)   
    padding: 0 20%
    display: flex
    flex-flow: row wrap
    align-content: flex-start
    .cell
      position: relative
      width: calc(100% / 3 - 2rem)
      margin: 1.5rem 1rem
      padding: 1rem 1.5rem
      background: rgba(248, 248, 248, 1)
      border-top-right-radius: 16px 100%
      border-bottom-right-radius: 5px 100%
      border-bottom-left-radius: 12px 100px
      box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, .2), -1px -1px 2px 1px rgba(0, 0, 0, .2) inset
      &:after
        position: absolute
        top: 0
        left: 50%
        height: 1.5rem
        width: 33%
        content: ''
        background: rgba(100, 185, 183, .6)
        border-bottom-left-radius: 100px 500px
        border-bottom-right-radius: 100px 500px
        border-top-left-radius: 500px 100px
        border-top-right-radius: 500px 100px
        transform: translate(-50%, -50%) rotate(2deg)
      .main
        width: 100%
        height: 100%
        cursor: pointer
        .title
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          width: 100%
          padding-bottom: .5rem
        .tag
          padding: .1rem .2rem
          font-size: .6rem
          float: left
          margin-right: .4rem
          border: 1px solid #dddddd
          border-radius: 5px 
          background: rgba(100, 185, 183, .3)
        .time-mark
          width: 100%
          text-align: right
          font-size: .8rem
          color: rgb(166, 166, 166)
        .preview
          height: 180px
          width: 100%
          margin-top: .5rem 
          img
            border: 4px solid rgba(235, 235, 235, .2)
            height: 100%
            width: 100%
            background-size: 100%
        .depiction
          padding: .5rem 0
          height: 8rem
          width: 100%
          text-overflow: ellipsis
          white-space: wrap
          overflow: hidden
          font-size: 1.05rem
          font-weight: 500
  .float-box
    position: fixed
    top: $header-height + 2rem
    left: 7.5%
    width: 15%
    transition: all .3s ease
    h2
      transform: rotate(-5deg) translate(-.5rem, 0)
    .tag
      position: relative
      height: 2rem
      width: 10rem
      padding: .3rem .5rem
      margin-top: 1rem
      font-weight: 600
      background: rgb(255, 246, 142)
      box-shadow: 8px 6px 6px 3px rgba(0, 0, 0, .1)
      transform: rotate(2deg) translate(0, 0)
      cursor: pointer
      transition: all .3s ease
      &:hover
        transform: rotate(0deg) translate(-1rem, 0)
      &:after, &:before
        left: calc(100% - .05rem)
        top: 50%
        border: solid transparent
        content: ''
        height: 0
        width: 0
        position: absolute
        pointer-events: none
      &:after
        border-left-color: rgb(255, 246, 142)
        border-width: 1.05rem
        margin-top: -1.0125rem
        transform: rotate(2deg)
    .outline-box
      position: relative
      min-height: 15rem
      width: 100%
      padding: 1rem
      margin-top: 2rem
      margin-bottom: 3rem
      border-radius: 12px
      background: rgb(255, 246, 142)
      border-top-left-radius: 2px 100%
      border-top-right-radius: 12px 100%
      border-bottom-right-radius: 24px 100%
      border-bottom-left-radius: 5px 100px
      box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, .2)
      transform: rotate(1.5deg)
      ul
        li
          list-style-type: decimal-leading-zero
          margin: 0 0 .5rem 2rem
          position: relative
          cursor: pointer        
          a
            font-weight: 600
            position: relative
            &:hover:before
              position: absolute
              top: 50%
              left: 50%
              height: 110%
              width: 110%
              content: ''
              transform: translate(-50%, -50%)
              background: rgba(100, 185, 183, .4)
              border-bottom-left-radius: 100px 500px
              border-bottom-right-radius: 100px 500px
              border-top-left-radius: 500px 100px
              border-top-right-radius: 500px 100px
              z-index: -1    
  .bonus-box
    width: 50%
    margin-left: 25%
    margin-top: 2rem
    height: 120px
    border-radius: 12px
    background: rgba(255, 255, 255, .5)
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .2)
    z-index: 1900
  .comments-box
    position: relative
    width: 50%
    margin-left: 25%
    margin-top: 2rem
    padding: 1rem
    box-shadow: 0px 0px 1px 12px rgba(0, 0, 0, .2)
    z-index: 1900
    background: #FDFDFD
    border-top-left-radius: 12px 100%
    border-bottom-right-radius: 12px 100%
    border-bottom-left-radius: 5px 100px
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2)
    &:after
      position: absolute
      top: 0
      left: 50%
      height: 2rem
      width: 8rem
      content: ''
      background: rgba(100, 185, 183, .6)
      border-bottom-left-radius: 100px 500px
      border-bottom-right-radius: 100px 500px
      border-top-left-radius: 500px 100px
      border-top-right-radius: 500px 100px
      transform: translate(-50%, -50%) rotate(5deg)
  .content
    width: 50%
    min-height: calc(100vh - 7rem)
    padding: 2rem
    margin: 2rem 0 2rem 25%
    background: #FDFDFD
    border-top-left-radius: 12px 100%
    border-bottom-right-radius: 12px 100%
    border-bottom-left-radius: 5px 100px
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2)
    p > code
      background: rgba(100, 185, 183, .4)
    img
      display: block
      width: 100%
      margin: .5rem 0      
      border-radius: 5px
    ul
      padding: .5rem      
      li 
        list-style-type: circle
        margin: 0 0 .5rem 2rem      
    pre > code
      margin: 1rem 0
      padding: 1rem
      display: block
      border-radius: 5px
      font-size: 1rem
      tab-size: 2
    h3
      font-size: 1.3rem
      margin: 3rem 0 1rem 0
    h4
      font-size: 1.2rem
      margin: .5rem 0
    .title-box
      position: relative
      width: 100%
      height: 3rem
      padding: .3rem
      margin-bottom: 1rem
      .theme-title
        position: absolute
        top: 0
        left: 0
        width: 100%
        font-size: 2rem
        border-bottom: 1px dashed rgb(180, 180, 180)
      .time-mark
        position: absolute
        top: 0
        right: 0
        font-size: .8rem
    .depiction-box
      position: relative
      margin: 4rem 0 4rem 0
      background: rgba(255, 248, 238, .2)
      border-top-left-radius: 12px 100%
      border-bottom-right-radius: 12px 100%
      border-bottom-left-radius: 5px 100px
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2)
      float: left
      &:after
        position: absolute
        top: -.5rem
        right: -3rem
        height: 2rem
        width: 8rem
        content: ''
        background: rgba(100, 185, 183, .6)
        border-bottom-left-radius: 100px 500px
        border-bottom-right-radius: 100px 500px
        border-top-left-radius: 500px 100px
        border-top-right-radius: 500px 100px
        transform: rotate(35deg)
      &:before      
        position: absolute
        bottom: .5rem
        left: -3rem
        height: 2rem
        width: 8rem
        content: ''
        background: rgba(100, 185, 183, .6)
        border-bottom-left-radius: 100px 500px
        border-bottom-right-radius: 100px 500px
        border-top-left-radius: 500px 100px
        border-top-right-radius: 500px 100px
        transform: rotate(55deg)
      p
        height: 100%
        padding: 1rem
        &:nth-child(1)
          width: 40%
          height: 100%
          float: left
          img
            width: 100%
            height: 100%
            border-radius: 5px
            background-size: 100% 100%
            background-position: 50% 50%
        &:nth-child(2)
          width: 60%
          height: 100%
          float: right       
  .footer
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 3rem
    width: 100%
    margin-top: 2rem
    .license
      position: relative
      &:before
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        height: 150%
        width: 150%
        content: ''
        background: rgba(100, 185, 183, .4)
        border-bottom-left-radius: 100px 500px
        border-bottom-right-radius: 100px 500px
        border-top-left-radius: 500px 100px
        border-top-right-radius: 500px 100px
        z-index: -1
@media screen and (min-width: 0px) and (max-width: 414px)
  .header
    height: $header-height-mobile
    .title
      top: .5rem
      left: .5rem
      h1
        font-size: .9rem
        position: relative
        line-height: 150%
      span
        font-size: .3rem
        position: relative
        line-height: 150%
    .logo
      width: $header-height-mobile
      height: $header-height-mobile
    .menu-list      
      display: none
  .reduce
    height: 3.5rem
    .title
      display: none
    .logo
      position: absolute
      top: 50%
      left: 1rem
      transform: translate(0%, -50%)
    .menu-list      
      display: flex
      top: 1.25rem    
  .container
    top: $header-height-mobile
    .articles
      padding: 0 3%
      .cell
        width: calc(100% - 2rem)
    .float-box
      display: none   
    .comments-box
      position: relative
      width: 94%
      margin-left: 3%
    .content
      width: 94%
      margin: 2rem 0 2rem 3%
      .title-box
        height: 8vmin
        padding: 0
        margin: 0
        .theme-title
          font-size: 5.5vmin
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
        .time-mark
          position: absolute
          top: calc(100% + .5rem)
          right: 0
          height: 1rem
      .depiction-box
        height: 100%
        background: rgba(255, 248, 238, .2)
        border-top-left-radius: 12px 100%
        border-bottom-right-radius: 12px 100%
        border-bottom-left-radius: 5px 50px
        &:after
          position: absolute
          top: -.5rem
          right: -2.5rem
          height: 1.3rem
          width: 5.5rem
          content: ''
          background: rgba(100, 185, 183, .6)
          border-bottom-left-radius: 100px 500px
          border-bottom-right-radius: 100px 500px
          border-top-left-radius: 500px 100px
          border-top-right-radius: 500px 100px
          transform: rotate(35deg)
        &:before      
          position: absolute
          bottom: .5rem
          left: -3rem
          height: 1.3rem
          width: 5.5rem
          content: ''
          background: rgba(100, 185, 183, .6)
          border-bottom-left-radius: 100px 500px
          border-bottom-right-radius: 100px 500px
          border-top-left-radius: 500px 100px
          border-top-right-radius: 500px 100px
          transform: rotate(55deg)
        p
          &:nth-child(1)
            width: 100%
            height: 100%
            float: none
            img
              width: 100%
              height: 100%
          &:nth-child(2)
            width: 100%
            height: 100%
            float: none

@media screen and (min-width: 415px) and (max-width: 1366px)
 .container
    .articles
      padding: 0 3%
      .cell
        width: calc(100% / 2 - 2rem)
    .float-box
      display: none   
    .comments-box
      position: relative
      width: 94%
      margin-left: 3%
    .content
      width: 94%
      margin: 2rem 0 2rem 3%
      .title-box
        height: 3rem
        padding: 0
        margin: 0
        .theme-title
          font-size: 2rem
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
        .time-mark
          position: absolute
          top: calc(100% + .5rem)
          right: 0
          height: 1rem
      .depiction-box
        &:after
          position: absolute
          top: -.5rem
          right: -2.5rem
          height: 1.5rem
          width: 6rem
          content: ''
          background: rgba(100, 185, 183, .6)
          border-bottom-left-radius: 100px 500px
          border-bottom-right-radius: 100px 500px
          border-top-left-radius: 500px 100px
          border-top-right-radius: 500px 100px
          transform: rotate(35deg)
        &:before      
          position: absolute
          bottom: .5rem
          left: -3rem
          height: 1.5rem
          width: 6rem
          content: ''
          background: rgba(100, 185, 183, .6)
          border-bottom-left-radius: 100px 500px
          border-bottom-right-radius: 100px 500px
          border-top-left-radius: 500px 100px
          border-top-right-radius: 500px 100px
          transform: rotate(55deg)
