<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="max-age" content="864000">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/dest/css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="/dest/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-166944924-1"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() { dataLayer.push(arguments) }
      gtag('js', new Date())
      gtag('config', 'UA-166944924-1')
    </script>
    <meta name="author" content="Berglas">
    <meta name="copyright" content="Berglas">
    <meta name="description" content="巴格.生活日記•學習筆記。主要記錄網頁設計、程式開發、生活日記，一方面拯救自己的金魚腦，一方面希望可以幫助有一樣問題的其他人！">
    <meta itemprop="name" content="巴格.生活日記•學習筆記">
    <meta itemprop="image" content="https://berglas.github.io/dest/img/logo.png">
    <meta itemprop="description" content="巴格.生活日記•學習筆記。主要記錄網頁設計、程式開發、生活日記，一方面拯救自己的金魚腦，一方面希望可以幫助有一樣問題的其他人！">
    <meta property="og:title" content="巴格.生活日記•學習筆記">
    <meta property="og:url" content="https://berglas.github.io">
    <meta property="og:image" content="https://berglas.github.io/dest/img/logo.png">
    <meta property="og:description" content="巴格.生活日記•學習筆記。主要記錄網頁設計、程式開發、生活日記，一方面拯救自己的金魚腦，一方面希望可以幫助有一樣問題的其他人！">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="巴格.生活日記•學習筆記">
    <link rel="canonical" href="https://berglas.github.io/">
    <title>巴格.生活日記•學習筆記</title>
  </head>
  <body>
    <div id="app">
      <div class="header">
        <div class="logo" onclick="javascript:location.href=&quot;/&quot;"></div>
        <div class="title" onclick="javascript:location.href=&quot;/&quot;">
          <h1>巴格.生活日記•學習筆記</h1><span>- 取之於網路，用之於網路 -</span>
        </div>
        <ul class="menu-list">
          <li title="所有文章"><a href="/"> 
              <sapn>所有文章</sapn></a></li>
          <li title="關於這裡"><a href="/dest/articles/2020/4/origin.html"> 
              <sapn>關於這裡</sapn></a></li>
          <li title="聯絡我"><a href="/resume.html"> 
              <sapn>聯絡我</sapn></a></li>
        </ul>
      </div>
      <div class="container">
        <div class="float-box">
          <h2>文章分類: {{searchTag}}</h2>
          <template v-for="item in allTag">
            <div class="tag" @click="setSearchTag(item)"> {{item}}</div>
          </template>
        </div>
        <div class="articles">
          <div class="cell" v-for="item in dataList">
            <div class="main" @click="javascript:location.href=item.site">
              <h2 class="title">{{item.cTitle}} </h2>
              <div class="preview"><img :src="item.img"></div>
              <template v-for="tag in item.tag">
                <p class="tag"># {{tag}}</p>
              </template>
              <p class="depiction">{{item.depiction}}</p>
              <p class="time-mark">{{item.date.substring(0, 10)}}</p>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="license"> </div>
        </div>
      </div>
    </div>
    <script>
      new Vue({
        el: '#app',
        data () {
          return {
            allPageList: [],
            searchPageList: [],
            dataList: [],
            index: 0,
            amount: 9,
            allTag: [],
            searchTag: null
          }
        },
        watch: {
          index: {
            handler (val) {
              this.loadData()
            }
          },
          allPageList: {
            handler (val) {
              this.searchPageList = JSON.parse(JSON.stringify(val))
              val.forEach(e => {
                e.tag.forEach(tag => {
                  if (this.allTag.indexOf(tag) === -1 && tag !== '') {
                    this.allTag.push(tag)
                  }
                })
              })
            }
          },
          searchPageList: {
            handler (val) {
              this.loadData()              
            }
          },
          searchTag: {
            handler (val) {
              this.index = 0
              this.dataList = []
              let temp = JSON.parse(JSON.stringify(this.allPageList))
              this.searchPageList = temp.filter(e => {
                if (e.tag.find(tag => { return tag == this.searchTag})) {
                  return e
                }
              })
            }
          }
        },
        methods: {
          loadData () {
            this.dataList = this.dataList.concat(this.searchPageList.slice(this.index * this.amount, (this.index + 1) * this.amount))
          },
          setSearchTag (val) {
            this.searchTag = val
          },
          insertionSort (array, objName) { // 插入排序法(由大至小)
            let length = array.length
            let j
            let temp
            for (let i = 1; i < length; i++) {
              j = i
              temp = array[i]
              while (j > 0 && array[j - 1][objName] < temp[objName]) {
                array[j] = array[j - 1]
                j--
              }
              array[j] = temp
            }
            return array
          }
        },
        mounted () {
          window.addEventListener('scroll', () => {
            if (($(window).height() + $(window).scrollTop()) >= document.body.offsetHeight + 112) { // header 高度，因為她是flex
              this.index += 1
            }
          }, false)
      
          $.getJSON("/dest/articles/pageList.json", e => {
            this.allPageList = e
            this.insertionSort(this.allPageList, 'date')
          })
        }
      })
    </script>
  </body>
</html>