/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  border: 0; }

ol, ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, span, p {
  line-height: 180%; }

p {
  font-size: 1.1rem; }

ul, li, a {
  font-size: 1.05rem; }

a {
  text-decoration: none;
  color: #42474c; }

blockquote {
  opacity: .8;
  border-left: 0.25rem solid rgba(47, 51, 58, 0.5);
  padding-left: .5rem;
  margin: 1rem 0; }

::selection {
  background: #e8788e;
  color: #FFF; }

::-moz-selection {
  background: #e8788e;
  color: #FFF; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track-piece {
  background: transparent; }

::-webkit-scrollbar-thumb:vertical {
  height: 15px;
  border-radius: 5px;
  background-color: #e8788e; }

::-webkit-scrollbar-thumb:horizontal {
  width: 15px;
  border-radius: 5px;
  background-color: #e8788e; }

ol li {
  list-style: decimal-leading-zero !important;
  list-style-position: inside !important;
  margin-top: 1rem; }

ol li::marker {
  color: #e8788e;
  font-size: 1.4rem;
  font-weight: 600; }

body {
  font-family: 'Microsoft JhengHei';
  position: relative;
  color: #42474c;
  background-size: 1.8rem 1.8rem;
  background-color: rgba(255, 233, 220, 0.1);
  background-image: linear-gradient(0deg, transparent 92%, rgba(89, 135, 125, 0.07) 50%), linear-gradient(90deg, transparent 92%, rgba(89, 135, 125, 0.07) 50%); }

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  background-size: 1.8rem 1.8rem;
  background-color: #fff8ee;
  background-image: linear-gradient(0deg, transparent 92%, rgba(89, 135, 125, 0.07) 50%), linear-gradient(90deg, transparent 92%, rgba(89, 135, 125, 0.07) 50%);
  z-index: 3000;
  transition: all .5s ease;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2); }
  .header .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block;
    user-select: none;
    cursor: pointer; }
    .header .title h1 {
      font-size: 2rem;
      position: relative; }
    .header .title span {
      font-size: .9rem;
      position: relative; }
  .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7rem;
    height: 7rem;
    background: url("/dest/img/logo.svg");
    background-position: 50% 50%;
    background-size: 150% 150%;
    transition: all .5s ease;
    cursor: pointer; }
  .header .menu-list {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: row;
    height: 1rem;
    line-height: 1rem;
    font-size: 1rem;
    transition: all .4s ease;
    user-select: none; }
    .header .menu-list li {
      margin: 0 .8rem;
      position: relative;
      cursor: pointer; }
      .header .menu-list li:hover:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 120%;
        width: 130%;
        content: '';
        background: rgba(100, 185, 183, 0.4);
        border-bottom-left-radius: 100px 500px;
        border-bottom-right-radius: 100px 500px;
        border-top-left-radius: 500px 100px;
        border-top-right-radius: 500px 100px;
        z-index: -1; }
      .header .menu-list li a {
        position: relative;
        font-weight: 900; }

.reduce {
  height: 3.5rem; }
  .reduce .title {
    display: none; }
  .reduce .logo {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0%, -50%);
    height: 3.5rem;
    width: 3.5rem; }
  .reduce .menu-list {
    top: 1.25rem; }

.adjust .float-box {
  margin-top: -3.5rem;
  opacity: 1 !important; }

.self-article {
  display: inline;
  width: 90%;
  height: 110%;
  position: relative;
  margin: .5rem 0;
  padding: .2rem .5rem;
  background: rgba(100, 185, 183, 0.4);
  border-bottom-left-radius: 100px 500px;
  border-bottom-right-radius: 100px 500px;
  border-top-left-radius: 500px 100px;
  border-top-right-radius: 500px 100px; }

.container {
  position: relative;
  top: 7rem;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%; }
  .container .articles {
    min-height: calc(100vh - 12rem);
    padding: 0 20%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start; }
    .container .articles .cell {
      position: relative;
      width: calc(100% / 3 - 2rem);
      margin: 1.5rem 1rem;
      padding: 1rem 1.5rem;
      background: #f8f8f8;
      border-top-right-radius: 16px 100%;
      border-bottom-right-radius: 5px 100%;
      border-bottom-left-radius: 12px 100px;
      box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px 1px rgba(0, 0, 0, 0.2) inset; }
      .container .articles .cell:after {
        position: absolute;
        top: 0;
        left: 50%;
        height: 1.5rem;
        width: 33%;
        content: '';
        background: rgba(100, 185, 183, 0.6);
        border-bottom-left-radius: 100px 500px;
        border-bottom-right-radius: 100px 500px;
        border-top-left-radius: 500px 100px;
        border-top-right-radius: 500px 100px;
        transform: translate(-50%, -50%) rotate(2deg); }
      .container .articles .cell .main {
        width: 100%;
        height: 100%;
        cursor: pointer; }
        .container .articles .cell .main .title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          padding-bottom: .5rem; }
        .container .articles .cell .main .tag {
          padding: .1rem .2rem;
          font-size: .6rem;
          float: left;
          margin-right: .4rem;
          border: 1px solid #dddddd;
          border-radius: 5px;
          background: rgba(100, 185, 183, 0.3); }
        .container .articles .cell .main .time-mark {
          width: 100%;
          text-align: right;
          font-size: .8rem;
          color: #a6a6a6; }
        .container .articles .cell .main .preview {
          height: 180px;
          width: 100%;
          margin-top: .5rem; }
          .container .articles .cell .main .preview img {
            border: 4px solid rgba(235, 235, 235, 0.2);
            height: 100%;
            width: 100%;
            background-size: 100%; }
        .container .articles .cell .main .depiction {
          padding: .5rem 0;
          height: 8rem;
          width: 100%;
          text-overflow: ellipsis;
          white-space: wrap;
          overflow: hidden;
          font-size: 1.05rem;
          font-weight: 500; }
  .container .float-box {
    position: fixed;
    top: 9rem;
    left: 7.5%;
    width: 15%;
    transition: all .3s ease; }
    .container .float-box h2 {
      transform: rotate(-5deg) translate(-0.5rem, 0); }
    .container .float-box .tag {
      position: relative;
      height: 2rem;
      width: 10rem;
      padding: .3rem .5rem;
      margin-top: 1rem;
      font-weight: 600;
      background: #fff68e;
      box-shadow: 8px 6px 6px 3px rgba(0, 0, 0, 0.1);
      transform: rotate(2deg) translate(0, 0);
      cursor: pointer;
      transition: all .3s ease; }
      .container .float-box .tag:hover {
        transform: rotate(0deg) translate(-1rem, 0); }
      .container .float-box .tag:after, .container .float-box .tag:before {
        left: calc(100% - .05rem);
        top: 50%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      .container .float-box .tag:after {
        border-left-color: #fff68e;
        border-width: 1.05rem;
        margin-top: -1.0125rem;
        transform: rotate(2deg); }
    .container .float-box .outline-box {
      position: relative;
      min-height: 15rem;
      width: 100%;
      padding: 1remg;
      margin-top: 2rem;
      margin-bottom: 3rem;
      border-radius: 12px;
      background: #fff68e;
      border-top-left-radius: 2px 100%;
      border-top-right-radius: 12px 100%;
      border-bottom-right-radius: 24px 100%;
      border-bottom-left-radius: 5px 100px;
      box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.2);
      transform: rotate(1.5deg); }
      .container .float-box .outline-box ul li {
        list-style-type: decimal-leading-zero;
        margin: 0 0 .5rem 2rem;
        position: relative;
        cursor: pointer; }
        .container .float-box .outline-box ul li a {
          font-weight: 600;
          position: relative; }
          .container .float-box .outline-box ul li a:hover:before {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 110%;
            width: 110%;
            content: '';
            transform: translate(-50%, -50%);
            background: rgba(100, 185, 183, 0.4);
            border-bottom-left-radius: 100px 500px;
            border-bottom-right-radius: 100px 500px;
            border-top-left-radius: 500px 100px;
            border-top-right-radius: 500px 100px;
            z-index: -1; }
  .container .bonus-box {
    width: 50%;
    margin-left: 25%;
    margin-top: 2rem;
    height: 120px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 1900; }
  .container .comments-box {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 1px 12px rgba(0, 0, 0, 0.2);
    z-index: 1900;
    background: #FDFDFD;
    border-top-left-radius: 12px 100%;
    border-bottom-right-radius: 12px 100%;
    border-bottom-left-radius: 5px 100px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2); }
    .container .comments-box:after {
      position: absolute;
      top: 0;
      left: 50%;
      height: 2rem;
      width: 8rem;
      content: '';
      background: rgba(100, 185, 183, 0.6);
      border-bottom-left-radius: 100px 500px;
      border-bottom-right-radius: 100px 500px;
      border-top-left-radius: 500px 100px;
      border-top-right-radius: 500px 100px;
      transform: translate(-50%, -50%) rotate(5deg); }
  .container .content {
    width: 50%;
    min-height: calc(100vh - 7rem);
    padding: 2rem;
    margin: 2rem 0 2rem 25%;
    background: #FDFDFD;
    border-top-left-radius: 12px 100%;
    border-bottom-right-radius: 12px 100%;
    border-bottom-left-radius: 5px 100px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2); }
    .container .content p > code {
      background: rgba(100, 185, 183, 0.4); }
    .container .content img {
      display: block;
      width: 100%;
      margin: .5rem 0;
      border-radius: 5px; }
    .container .content ul {
      padding: .5rem; }
      .container .content ul li {
        list-style-type: circle;
        margin: 0 0 .5rem 2rem; }
    .container .content pre > code {
      margin: 1rem 0;
      padding: 1rem;
      display: block;
      border-radius: 5px;
      font-size: 1rem;
      tab-size: 2; }
    .container .content h3 {
      font-size: 1.3rem;
      margin: 2rem 0 1rem 0; }
    .container .content h4 {
      font-size: 1.2rem;
      margin: .5rem 0; }
    .container .content .title-box {
      position: relative;
      width: 100%;
      height: 3rem;
      padding: .3rem;
      margin-bottom: 1rem; }
      .container .content .title-box .theme-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 1.8rem;
        border-bottom: 1px dashed #b4b4b4; }
      .container .content .title-box .time-mark {
        position: absolute;
        top: -1rem;
        right: 0;
        font-size: .9rem; }
    .container .content .depiction-box {
      position: relative;
      margin: 4rem 0 4rem 0;
      background: rgba(255, 248, 238, 0.2);
      border-top-left-radius: 12px 100%;
      border-bottom-right-radius: 12px 100%;
      border-bottom-left-radius: 5px 100px;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
      float: left; }
      .container .content .depiction-box:after {
        position: absolute;
        top: -.5rem;
        right: -3rem;
        height: 2rem;
        width: 8rem;
        content: '';
        background: rgba(100, 185, 183, 0.6);
        border-bottom-left-radius: 100px 500px;
        border-bottom-right-radius: 100px 500px;
        border-top-left-radius: 500px 100px;
        border-top-right-radius: 500px 100px;
        transform: rotate(35deg); }
      .container .content .depiction-box:before {
        position: absolute;
        bottom: .5rem;
        left: -3rem;
        height: 2rem;
        width: 8rem;
        content: '';
        background: rgba(100, 185, 183, 0.6);
        border-bottom-left-radius: 100px 500px;
        border-bottom-right-radius: 100px 500px;
        border-top-left-radius: 500px 100px;
        border-top-right-radius: 500px 100px;
        transform: rotate(55deg); }
      .container .content .depiction-box p {
        height: 100%;
        padding: 1rem; }
        .container .content .depiction-box p:nth-child(1) {
          width: 40%;
          height: 100%;
          float: left; }
          .container .content .depiction-box p:nth-child(1) img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-size: 100% 100%;
            background-position: 50% 50%; }
        .container .content .depiction-box p:nth-child(2) {
          width: 60%;
          height: 100%;
          float: right; }
  .container .footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    margin-top: 2rem; }
    .container .footer .license {
      position: relative; }
      .container .footer .license:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 150%;
        width: 150%;
        content: '';
        background: rgba(100, 185, 183, 0.4);
        border-bottom-left-radius: 100px 500px;
        border-bottom-right-radius: 100px 500px;
        border-top-left-radius: 500px 100px;
        border-top-right-radius: 500px 100px;
        z-index: -1; }

@media screen and (min-width: 0px) and (max-width: 414px) {
  .header {
    height: 3.5rem; }
    .header .title {
      top: .5rem;
      left: .5rem; }
      .header .title h1 {
        font-size: .9rem;
        position: relative;
        line-height: 150%; }
      .header .title span {
        font-size: .3rem;
        position: relative;
        line-height: 150%; }
    .header .logo {
      width: 3.5rem;
      height: 3.5rem; }
    .header .menu-list {
      display: none; }
  .reduce {
    height: 3.5rem; }
    .reduce .title {
      display: none; }
    .reduce .logo {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translate(0%, -50%); }
    .reduce .menu-list {
      display: flex;
      top: 1.25rem; }
  .container {
    top: 3.5rem; }
    .container .articles {
      padding: 0 3%; }
      .container .articles .cell {
        width: calc(100% - 2rem); }
    .container .float-box {
      display: none; }
    .container .comments-box {
      position: relative;
      width: 94%;
      margin-left: 3%; }
    .container .content {
      width: 94%;
      margin: 2rem 0 2rem 3%; }
      .container .content .title-box {
        height: 8vmin;
        padding: 0;
        margin: 0; }
        .container .content .title-box .theme-title {
          font-size: 5.5vmin;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .container .content .title-box .time-mark {
          position: absolute;
          top: calc(100% + .5rem);
          right: 0;
          height: 1rem; }
      .container .content .depiction-box {
        height: 100%;
        background: rgba(255, 248, 238, 0.2);
        border-top-left-radius: 12px 100%;
        border-bottom-right-radius: 12px 100%;
        border-bottom-left-radius: 5px 50px; }
        .container .content .depiction-box:after {
          position: absolute;
          top: -.5rem;
          right: -2.5rem;
          height: 1.3rem;
          width: 5.5rem;
          content: '';
          background: rgba(100, 185, 183, 0.6);
          border-bottom-left-radius: 100px 500px;
          border-bottom-right-radius: 100px 500px;
          border-top-left-radius: 500px 100px;
          border-top-right-radius: 500px 100px;
          transform: rotate(35deg); }
        .container .content .depiction-box:before {
          position: absolute;
          bottom: .5rem;
          left: -3rem;
          height: 1.3rem;
          width: 5.5rem;
          content: '';
          background: rgba(100, 185, 183, 0.6);
          border-bottom-left-radius: 100px 500px;
          border-bottom-right-radius: 100px 500px;
          border-top-left-radius: 500px 100px;
          border-top-right-radius: 500px 100px;
          transform: rotate(55deg); }
        .container .content .depiction-box p:nth-child(1) {
          width: 100%;
          height: 100%;
          float: none; }
          .container .content .depiction-box p:nth-child(1) img {
            width: 100%;
            height: 100%; }
        .container .content .depiction-box p:nth-child(2) {
          width: 100%;
          height: 100%;
          float: none; } }

@media screen and (min-width: 415px) and (max-width: 1366px) {
  .container .articles {
    padding: 0 3%; }
    .container .articles .cell {
      width: calc(100% / 2 - 2rem); }
  .container .float-box {
    display: none; }
  .container .comments-box {
    position: relative;
    width: 94%;
    margin-left: 3%; }
  .container .content {
    width: 94%;
    margin: 2rem 0 2rem 3%; }
    .container .content .title-box {
      height: 3rem;
      padding: 0;
      margin: 0; }
      .container .content .title-box .theme-title {
        font-size: 2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .container .content .title-box .time-mark {
        position: absolute;
        top: calc(100% + .5rem);
        right: 0;
        height: 1rem; }
    .container .content .depiction-box:after {
      position: absolute;
      top: -.5rem;
      right: -2.5rem;
      height: 1.5rem;
      width: 6rem;
      content: '';
      background: rgba(100, 185, 183, 0.6);
      border-bottom-left-radius: 100px 500px;
      border-bottom-right-radius: 100px 500px;
      border-top-left-radius: 500px 100px;
      border-top-right-radius: 500px 100px;
      transform: rotate(35deg); }
    .container .content .depiction-box:before {
      position: absolute;
      bottom: .5rem;
      left: -3rem;
      height: 1.5rem;
      width: 6rem;
      content: '';
      background: rgba(100, 185, 183, 0.6);
      border-bottom-left-radius: 100px 500px;
      border-bottom-right-radius: 100px 500px;
      border-top-left-radius: 500px 100px;
      border-top-right-radius: 500px 100px;
      transform: rotate(55deg); } }
