* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  border: 0; }

body {
  line-height: 180%; }

ol, ul, li {
  list-style: none; }

/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track-piece {
  background: transparent; }

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  border-radius: 5px;
  background-color: #E87A90; }

::-webkit-scrollbar-thumb:horizontal {
  width: 30px;
  border-radius: 5px;
  background-color: #66BAB7; }

body {
  font-family: 'Microsoft JhengHei';
  position: relative;
  color: #666; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  background: #FFF;
  z-index: 2000;
  transition: all .5s ease;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2); }
  .header .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block; }
    .header .title span {
      font-size: .8rem; }
  .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7rem;
    height: 7rem;
    background: url("/src/img/logo.svg");
    background-position: 100% 100%;
    background-size: 100% 100%;
    transition: all .5s ease; }
  .header .menu-list {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: row;
    height: 1rem;
    line-height: 1rem;
    font-size: 1rem; }
    .header .menu-list li {
      margin: 0 .4rem; }
    .header .menu-list a {
      text-decoration: none;
      font-weight: 900;
      color: #2f333a; }

.reduce {
  height: 3.5rem; }
  .reduce .title {
    display: none; }
  .reduce .logo {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    height: 3.5rem;
    width: 3.5rem; }

.xx {
  margin-top: -3.5rem; }

.container {
  position: relative;
  top: 7rem;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%; }
  .container .outline-box {
    position: fixed;
    top: 9rem;
    left: 2.5%;
    width: 15%;
    height: 200px;
    border-radius: 12px;
    background: #FAFAFA;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 1900;
    transition: all .5s ease; }
  .container .tag-box {
    position: fixed;
    top: 9rem;
    right: 2.5%;
    width: 15%;
    height: 400px;
    border-radius: 12px;
    background: #FAFAFA;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 1900;
    transition: all .5s ease; }
  .container .bonus-box {
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
    height: 120px;
    border-radius: 12px;
    background: #FAFAFA;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 1900; }
  .container .content {
    height: 2000px;
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
    border-radius: 12px;
    background: #FAFAFA;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2); }
  .container .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    margin-top: 2rem;
    border-top: 1px dashed #b4b4b4;
    background-color: rgba(255, 255, 255, 0.6); }
