* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  border: 0; }

ol, ul, li {
  list-style: none; }

input, textarea {
  outline: none; }

h1, h2, h3, h4, h5, h6, span, p {
  line-height: normal; }

::selection, ::-moz-selection {
  background: #303437;
  color: #f6f9f7; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background: #303437;
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #ffe9d2;
  border-radius: 2px;
  width: 6px; }

a {
  text-decoration: none; }
  a[href^="tel"] {
    color: inherit;
    text-decoration: none; }
  a:hover, a:link, a:active, a:visited {
    text-decoration: none; }

body {
  font-family: 'Microsoft JhengHei';
  width: 100%;
  color: #ffe9d2; }

.header-menu {
  z-index: 9999;
  position: fixed;
  left: 0;
  bottom: 0; }

@keyframes draw-cls-1 {
  0% {
    stroke: rgba(7, 233, 210, 0.1);
    stroke-dasharray: 350px;
    stroke-dashoffset: 350px; }
  100% {
    stroke: rgba(7, 233, 210, 0.2);
    stroke-dasharray: 350px;
    stroke-dashoffset: 0px; } }

@keyframes draw-cls-2 {
  0% {
    stroke-dasharray: 30px;
    stroke-dashoffset: 800px; }
  100% {
    stroke-dasharray: 800px;
    stroke-dashoffset: 0px; } }

@keyframes draw-cls-3 {
  0% {
    fill: rgba(7, 233, 210, 0.1); }
  40% {
    fill: rgba(255, 255, 255, 0.3); }
  100% {
    fill: rgba(7, 233, 210, 0.2); } }

@keyframes draw-cls-6 {
  0% {
    stroke-dashoffset: 300px; }
  100% {
    stroke-dashoffset: 0px; } }

.icon {
  position: fixed;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, 0%);
  border-radius: 100%;
  cursor: pointer; }
  .icon .main {
    fill: rgba(255, 233, 210, 0.5); }
  .icon:hover .main {
    fill: #ffe9d2; }
  .icon:hover .cls-2 {
    stroke: #ffe9d2; }
  .icon .cls-1, .icon .cls-2, .icon .cls-4, .icon .cls-6 {
    fill: none; }
  .icon .cls-1 {
    stroke-width: 4px;
    stroke-dashoffset: 350px;
    animation: draw-cls-1 4s forwards; }
  .icon .cls-2 {
    stroke-width: 8px;
    stroke: rgba(255, 233, 210, 0.5);
    animation: draw-cls-2 6s forwards; }
  .icon .cls-3 {
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    animation: draw-cls-3 10s forwards; }
  .icon .cls-4 {
    stroke: rgba(255, 233, 210, 0.5);
    stroke-width: 4px;
    stroke-dasharray: 1.5 1.5;
    animation: draw-cls-6 4s forwards; }
  .icon .cls-6 {
    stroke: rgba(255, 233, 210, 0.5);
    stroke-width: 5px;
    stroke-dasharray: 2.5 2.5;
    animation: draw-cls-6 6s forwards; }

.icon-home {
  animation: loading1 1S forwards, draw-main 3s forwards; }

.icon-profile {
  animation: loading2 .5S forwards, draw-main 3s forwards;
  animation-delay: .3s; }
  .icon-profile svg g .cls-1, .icon-profile svg g .cls-2, .icon-profile svg g .cls-4, .icon-profile svg g .cls-6 {
    animation-delay: .5s; }

.icon-skill {
  animation: loading3 .5S forwards, draw-main 3s forwards;
  animation-delay: .6s; }
  .icon-skill svg g .cls-1, .icon-skill svg g .cls-2, .icon-skill svg g .cls-4, .icon-skill svg g .cls-6 {
    animation-delay: .6s; }

.icon-portfolio {
  animation: loading4 .5S forwards, draw-main 3s forwards;
  animation-delay: .9s; }
  .icon-portfolio svg g .cls-1, .icon-portfolio svg g .cls-2, .icon-portfolio svg g .cls-4, .icon-portfolio svg g .cls-6 {
    animation-delay: .9s; }

.icon-contact {
  animation: loading5 .5S forwards, draw-main 3s forwards;
  animation-delay: 1.2s; }
  .icon-contact svg g .cls-1, .icon-contact svg g .cls-2, .icon-contact svg g .cls-4, .icon-contact svg g .cls-6 {
    animation-delay: 1.2s; }

@keyframes loading1 {
  0% {
    width: 480px;
    height: 480px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0) inset;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%); }
  30% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0) inset;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%); }
  100% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0.1) inset;
    left: calc(100% / 6 * 1);
    bottom: 0;
    transform: translate(-50%, 35%); } }

@keyframes loading2 {
  0% {
    width: 480px;
    height: 480px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0) inset;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%); }
  30% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0.1) inset;
    left: 50%;
    bottom: 40%; }
  100% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0.1) inset;
    left: calc(100% / 6 * 2);
    bottom: 0;
    transform: translate(-50%, 35%); } }

@keyframes loading3 {
  0% {
    width: 480px;
    height: 480px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0) inset;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%); }
  30% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0.1) inset;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%); }
  100% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0.1) inset;
    left: calc(100% / 6 * 3);
    bottom: 0;
    transform: translate(-50%, 35%);
    opacity: 1; } }

@keyframes loading4 {
  0% {
    width: 480px;
    height: 480px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0) inset;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%); }
  30% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0.1) inset;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%); }
  100% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0.1) inset;
    left: calc(100% / 6 * 4);
    bottom: 0;
    transform: translate(-50%, 35%);
    opacity: 1; } }

@keyframes loading5 {
  0% {
    width: 480px;
    height: 480px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0) inset;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%); }
  30% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0.1) inset;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%); }
  100% {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 50px 5px rgba(7, 233, 210, 0.1) inset;
    left: calc(100% / 6 * 5);
    bottom: 0;
    transform: translate(-50%, 35%);
    opacity: 1; } }

section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #303437; }
  section .title {
    position: absolute;
    font-size: 40rem;
    font-weight: 900;
    color: rgba(255, 233, 210, 0.05);
    top: 50%;
    left: 50%;
    transform: translate(-55%, -60%) rotate(-15deg);
    z-index: 100; }

#page0 .content {
  position: relative;
  z-index: 5000;
  width: 100%;
  height: 100%;
  background: rgba(7, 233, 210, 0.01); }
  #page0 .content #radar {
    position: absolute;
    top: 1rem;
    right: 1rem; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(75vw, 58vh, 10px); } }
  #page0 .content .particle:nth-child(1) {
    animation: particle-animation-1 60s infinite;
    height: 6px;
    width: 6px;
    opacity: 0.2;
    animation-delay: -0.4s;
    background-color: #07e9d2;
    transform: translate3d(32vw, 87vh, 1px); }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(18vw, 35vh, 95px); } }
  #page0 .content .particle:nth-child(2) {
    animation: particle-animation-2 60s infinite;
    height: 8px;
    width: 10px;
    opacity: 0.16;
    animation-delay: -0.8s;
    background-color: #07e9d2;
    transform: translate3d(71vw, 13vh, 13px); }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(51vw, 74vh, 71px); } }
  #page0 .content .particle:nth-child(3) {
    animation: particle-animation-3 60s infinite;
    height: 6px;
    width: 7px;
    opacity: 0.12;
    animation-delay: -1.2s;
    background-color: #07e9d2;
    transform: translate3d(32vw, 35vh, 9px); }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(43vw, 72vh, 68px); } }
  #page0 .content .particle:nth-child(4) {
    animation: particle-animation-4 60s infinite;
    height: 8px;
    width: 7px;
    opacity: 0.13;
    animation-delay: -1.6s;
    background-color: #07e9d2;
    transform: translate3d(54vw, 11vh, 47px); }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(61vw, 4vh, 54px); } }
  #page0 .content .particle:nth-child(5) {
    animation: particle-animation-5 60s infinite;
    height: 9px;
    width: 6px;
    opacity: 0.14;
    animation-delay: -2s;
    background-color: #07e9d2;
    transform: translate3d(30vw, 45vh, 57px); }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(61vw, 79vh, 12px); } }
  #page0 .content .particle:nth-child(6) {
    animation: particle-animation-6 60s infinite;
    height: 6px;
    width: 10px;
    opacity: 0.15;
    animation-delay: -2.4s;
    background-color: #07e9d2;
    transform: translate3d(6vw, 16vh, 30px); }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(17vw, 53vh, 22px); } }
  #page0 .content .particle:nth-child(7) {
    animation: particle-animation-7 60s infinite;
    height: 6px;
    width: 9px;
    opacity: 0.17;
    animation-delay: -2.8s;
    background-color: #07e9d2;
    transform: translate3d(40vw, 75vh, 67px); }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(42vw, 58vh, 38px); } }
  #page0 .content .particle:nth-child(8) {
    animation: particle-animation-8 60s infinite;
    height: 8px;
    width: 10px;
    opacity: 0.19;
    animation-delay: -3.2s;
    background-color: #07e9d2;
    transform: translate3d(29vw, 38vh, 92px); }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(60vw, 56vh, 68px); } }
  #page0 .content .particle:nth-child(9) {
    animation: particle-animation-9 60s infinite;
    height: 6px;
    width: 9px;
    opacity: 0.07;
    animation-delay: -3.6s;
    background-color: #07e9d2;
    transform: translate3d(63vw, 7vh, 53px); }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(44vw, 43vh, 23px); } }
  #page0 .content .particle:nth-child(10) {
    animation: particle-animation-10 60s infinite;
    height: 10px;
    width: 9px;
    opacity: 0.18;
    animation-delay: -4s;
    background-color: #07e9d2;
    transform: translate3d(56vw, 79vh, 86px); }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(25vw, 5vh, 3px); } }
  #page0 .content .particle:nth-child(11) {
    animation: particle-animation-11 60s infinite;
    height: 10px;
    width: 8px;
    opacity: 0.11;
    animation-delay: -4.4s;
    background-color: #07e9d2;
    transform: translate3d(89vw, 39vh, 25px); }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(43vw, 20vh, 59px); } }
  #page0 .content .particle:nth-child(12) {
    animation: particle-animation-12 60s infinite;
    height: 10px;
    width: 8px;
    opacity: 0.04;
    animation-delay: -4.8s;
    background-color: #07e9d2;
    transform: translate3d(5vw, 48vh, 62px); }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(69vw, 21vh, 41px); } }
  #page0 .content .particle:nth-child(13) {
    animation: particle-animation-13 60s infinite;
    height: 8px;
    width: 9px;
    opacity: 0.2;
    animation-delay: -5.2s;
    background-color: #07e9d2;
    transform: translate3d(23vw, 15vh, 52px); }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(75vw, 54vh, 88px); } }
  #page0 .content .particle:nth-child(14) {
    animation: particle-animation-14 60s infinite;
    height: 8px;
    width: 6px;
    opacity: 0.18;
    animation-delay: -5.6s;
    background-color: #07e9d2;
    transform: translate3d(7vw, 71vh, 98px); }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(66vw, 66vh, 14px); } }
  #page0 .content .particle:nth-child(15) {
    animation: particle-animation-15 60s infinite;
    height: 7px;
    width: 6px;
    opacity: 0.09;
    animation-delay: -6s;
    background-color: #07e9d2;
    transform: translate3d(37vw, 59vh, 56px); }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(78vw, 26vh, 44px); } }
  #page0 .content .particle:nth-child(16) {
    animation: particle-animation-16 60s infinite;
    height: 6px;
    width: 7px;
    opacity: 0.17;
    animation-delay: -6.4s;
    background-color: #07e9d2;
    transform: translate3d(46vw, 9vh, 55px); }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(78vw, 37vh, 84px); } }
  #page0 .content .particle:nth-child(17) {
    animation: particle-animation-17 60s infinite;
    height: 8px;
    width: 9px;
    opacity: 0.19;
    animation-delay: -6.8s;
    background-color: #07e9d2;
    transform: translate3d(69vw, 54vh, 68px); }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(35vw, 27vh, 38px); } }
  #page0 .content .particle:nth-child(18) {
    animation: particle-animation-18 60s infinite;
    height: 8px;
    width: 7px;
    opacity: 0.07;
    animation-delay: -7.2s;
    background-color: #07e9d2;
    transform: translate3d(57vw, 68vh, 79px); }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(17vw, 66vh, 63px); } }
  #page0 .content .particle:nth-child(19) {
    animation: particle-animation-19 60s infinite;
    height: 9px;
    width: 7px;
    opacity: 0.06;
    animation-delay: -7.6s;
    background-color: #07e9d2;
    transform: translate3d(24vw, 83vh, 16px); }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(14vw, 20vh, 56px); } }
  #page0 .content .particle:nth-child(20) {
    animation: particle-animation-20 60s infinite;
    height: 9px;
    width: 9px;
    opacity: 0.08;
    animation-delay: -8s;
    background-color: #07e9d2;
    transform: translate3d(64vw, 68vh, 70px); }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(7vw, 25vh, 22px); } }
  #page0 .content .particle:nth-child(21) {
    animation: particle-animation-21 60s infinite;
    height: 7px;
    width: 7px;
    opacity: 0.06;
    animation-delay: -8.4s;
    background-color: #07e9d2;
    transform: translate3d(2vw, 3vh, 72px); }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(61vw, 65vh, 89px); } }
  #page0 .content .particle:nth-child(22) {
    animation: particle-animation-22 60s infinite;
    height: 7px;
    width: 8px;
    opacity: 0.16;
    animation-delay: -8.8s;
    background-color: #07e9d2;
    transform: translate3d(23vw, 11vh, 6px); }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(3vw, 17vh, 82px); } }
  #page0 .content .particle:nth-child(23) {
    animation: particle-animation-23 60s infinite;
    height: 8px;
    width: 8px;
    opacity: 0.04;
    animation-delay: -9.2s;
    background-color: #07e9d2;
    transform: translate3d(23vw, 76vh, 40px); }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(19vw, 60vh, 2px); } }
  #page0 .content .particle:nth-child(24) {
    animation: particle-animation-24 60s infinite;
    height: 9px;
    width: 9px;
    opacity: 0.2;
    animation-delay: -9.6s;
    background-color: #07e9d2;
    transform: translate3d(82vw, 6vh, 75px); }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(54vw, 63vh, 99px); } }
  #page0 .content .particle:nth-child(25) {
    animation: particle-animation-25 60s infinite;
    height: 8px;
    width: 8px;
    opacity: 0.18;
    animation-delay: -10s;
    background-color: #07e9d2;
    transform: translate3d(66vw, 85vh, 73px); }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(87vw, 8vh, 65px); } }
  #page0 .content .particle:nth-child(26) {
    animation: particle-animation-26 60s infinite;
    height: 10px;
    width: 9px;
    opacity: 0.05;
    animation-delay: -10.4s;
    background-color: #07e9d2;
    transform: translate3d(41vw, 2vh, 28px); }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(59vw, 19vh, 70px); } }
  #page0 .content .particle:nth-child(27) {
    animation: particle-animation-27 60s infinite;
    height: 8px;
    width: 6px;
    opacity: 0.2;
    animation-delay: -10.8s;
    background-color: #07e9d2;
    transform: translate3d(65vw, 33vh, 65px); }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(27vw, 7vh, 61px); } }
  #page0 .content .particle:nth-child(28) {
    animation: particle-animation-28 60s infinite;
    height: 6px;
    width: 8px;
    opacity: 0.06;
    animation-delay: -11.2s;
    background-color: #07e9d2;
    transform: translate3d(24vw, 24vh, 93px); }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(64vw, 18vh, 61px); } }
  #page0 .content .particle:nth-child(29) {
    animation: particle-animation-29 60s infinite;
    height: 7px;
    width: 8px;
    opacity: 0.03;
    animation-delay: -11.6s;
    background-color: #07e9d2;
    transform: translate3d(69vw, 59vh, 51px); }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(30vw, 71vh, 89px); } }
  #page0 .content .particle:nth-child(30) {
    animation: particle-animation-30 60s infinite;
    height: 6px;
    width: 9px;
    opacity: 0.07;
    animation-delay: -12s;
    background-color: #07e9d2;
    transform: translate3d(39vw, 48vh, 80px); }
  #page0 .content .particle {
    position: absolute;
    border-radius: 100%; }

#page1 .content {
  position: relative;
  z-index: 5000;
  width: 100%;
  height: 100%; }
  #page1 .content .experience {
    position: absolute;
    top: 5%;
    left: 40%;
    height: 80%;
    width: 50%;
    padding: 1rem; }
    #page1 .content .experience > .element {
      position: relative;
      display: block;
      width: 100%;
      height: 24rem; }
      #page1 .content .experience > .element .period {
        position: absolute;
        width: 50%;
        height: auto; }
      #page1 .content .experience > .element .campany {
        position: absolute;
        width: 50%;
        height: auto; }
      #page1 .content .experience > .element:nth-child(odd) .period {
        background: red;
        position: absolute;
        top: 0;
        left: 0; }
      #page1 .content .experience > .element:nth-child(odd) .company {
        background: #00F;
        position: absolute;
        top: 0;
        right: 0; }
      #page1 .content .experience > .element:nth-child(even) .period {
        background: red;
        position: absolute;
        top: 0;
        right: 0; }
      #page1 .content .experience > .element:nth-child(even) .company {
        background: #00F;
        position: absolute;
        top: 0;
        left: 0; }
  #page1 .content .introduction {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 80%;
    width: 30%;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(7, 233, 210, 0.1);
    box-shadow: 0px 0px 50px 2px rgba(7, 233, 210, 0.2); }

#page2 .content {
  position: relative;
  z-index: 5000;
  width: 100%;
  height: 100%;
  padding: 2% 2% 8% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #page2 .content .skill-box {
    width: 28%;
    height: 0%;
    border-radius: 10px;
    border: 0.3rem dashed rgba(7, 233, 210, 0.4);
    background: rgba(7, 233, 210, 0.1);
    box-shadow: 0px 0px 50px 2px rgba(7, 233, 210, 0.2); }
    #page2 .content .skill-box ul {
      padding: .5rem; }
      #page2 .content .skill-box ul li {
        list-style-type: circle;
        margin-top: .5rem; }
    #page2 .content .skill-box .bar-box {
      width: 100%;
      height: .8rem;
      box-shadow: 0px 0px 50px 2px rgba(255, 233, 210, 0.3);
      margin-bottom: 1rem; }
      #page2 .content .skill-box .bar-box .bar {
        height: 100%;
        width: 0%;
        padding: 1px;
        border-radius: 2px;
        background: #ffe9d2;
        transition: all 1.5s; }
      #page2 .content .skill-box .bar-box .h5 {
        animation: wH5 2S forwards;
        animation-delay: .5s; }

@keyframes wH5 {
  0% {
    width: 0%; }
  35% {
    width: 90%; }
  70% {
    width: 45%; }
  100% {
    width: 80%; } }
      #page2 .content .skill-box .bar-box .css {
        animation: wCss 2S forwards;
        animation-delay: .5s; }

@keyframes wCss {
  0% {
    width: 0%; }
  35% {
    width: 60%; }
  70% {
    width: 95%; }
  100% {
    width: 80%; } }
      #page2 .content .skill-box .bar-box .js {
        animation: wJs 2S forwards;
        animation-delay: .5s; }

@keyframes wJs {
  0% {
    width: 0%; }
  35% {
    width: 60%; }
  70% {
    width: 45%; }
  100% {
    width: 85%; } }
      #page2 .content .skill-box .bar-box .svg {
        animation: wSvg 2S forwards;
        animation-delay: .5s; }

@keyframes wSvg {
  0% {
    width: 0%; }
  35% {
    width: 35%; }
  70% {
    width: 55%; }
  100% {
    width: 70%; } }
      #page2 .content .skill-box .bar-box .vue {
        animation: wVue 2S forwards;
        animation-delay: .5s; }

@keyframes wVue {
  0% {
    width: 10%; }
  35% {
    width: 00%; }
  70% {
    width: 35%; }
  100% {
    width: 75%; } }
      #page2 .content .skill-box .bar-box .wg {
        animation: wWg 2S forwards;
        animation-delay: .5s; }

@keyframes wWg {
  0% {
    width: 20%; }
  35% {
    width: 10%; }
  70% {
    width: 75%; }
  100% {
    width: 60%; } }
      #page2 .content .skill-box .bar-box .c {
        animation: wC 2S forwards;
        animation-delay: .5s; }

@keyframes wC {
  0% {
    width: 0%; }
  35% {
    width: 40%; }
  70% {
    width: 85%; }
  100% {
    width: 75%; } }
      #page2 .content .skill-box .bar-box .django {
        animation: wDjango 2S forwards;
        animation-delay: .5s; }

@keyframes wDjango {
  0% {
    width: 0%; }
  35% {
    width: 20%; }
  70% {
    width: 55%; }
  100% {
    width: 70%; } }
      #page2 .content .skill-box .bar-box .go {
        animation: wGo 2S forwards;
        animation-delay: .5s; }

@keyframes wGo {
  0% {
    width: 10%; }
  35% {
    width: 40%; }
  70% {
    width: 75%; }
  100% {
    width: 65%; } }
      #page2 .content .skill-box .bar-box .sql {
        animation: wSql 2S forwards;
        animation-delay: .5s; }

@keyframes wSql {
  0% {
    width: 0%; }
  35% {
    width: 50%; }
  70% {
    width: 65%; }
  100% {
    width: 80%; } }
      #page2 .content .skill-box .bar-box .git {
        animation: wGit 2S forwards;
        animation-delay: .5s; }

@keyframes wGit {
  0% {
    width: 0%; }
  35% {
    width: 30%; }
  70% {
    width: 55%; }
  100% {
    width: 70%; } }
      #page2 .content .skill-box .bar-box .docker {
        animation: wDocker 2S forwards;
        animation-delay: .5s; }

@keyframes wDocker {
  0% {
    width: 0%; }
  35% {
    width: 45%; }
  70% {
    width: 85%; }
  100% {
    width: 60%; } }
      #page2 .content .skill-box .bar-box .arduino {
        animation: wArduino 2S forwards;
        animation-delay: .5s; }

@keyframes wArduino {
  0% {
    width: 20%; }
  35% {
    width: 10%; }
  70% {
    width: 75%; }
  100% {
    width: 60%; } }
      #page2 .content .skill-box .bar-box .Illustrator {
        animation: wIllustrator 2S forwards;
        animation-delay: .5s; }

@keyframes wIllustrator {
  0% {
    width: 0%; }
  35% {
    width: 35%; }
  70% {
    width: 65%; }
  100% {
    width: 45%; } }
      #page2 .content .skill-box .bar-box .Photoshop {
        animation: wPhotoshop 2S forwards;
        animation-delay: .5s; }

@keyframes wPhotoshop {
  0% {
    width: 20%; }
  35% {
    width: 35%; }
  70% {
    width: 75%; }
  100% {
    width: 40%; } }
  #page2 .content .openSkill {
    animation: openSkill 1S forwards; }

@keyframes openSkill {
  0% {
    height: 0%; }
  25% {
    padding: 2%; }
  50% {
    height: 10%;
    padding: 2%;
    opacity: 1; }
  100% {
    height: 100%;
    padding: 2%;
    opacity: 1; } }

#page3 .content {
  position: relative;
  z-index: 5000;
  width: 100%;
  height: 100%; }
  #page3 .content #slider {
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    padding: 10% 0; }
    #page3 .content #slider > ul {
      position: relative;
      display: inline-block;
      white-space: nowrap;
      height: 100%;
      width: 100%; }
      #page3 .content #slider > ul > li {
        position: relative;
        display: inline-block;
        width: calc(100% - 36%);
        height: 100%;
        margin: 0 18%;
        border-radius: 10px; }
        #page3 .content #slider > ul > li .element {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 2rem;
          border-radius: .3rem;
          border: 5px solid rgba(7, 233, 210, 0.5);
          overflow: hidden; }
          #page3 .content #slider > ul > li .element:after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 100px 0 0;
            border-color: rgba(7, 233, 210, 0.5) transparent transparent transparent;
            z-index: 6000; }
          #page3 .content #slider > ul > li .element:before {
            position: absolute;
            bottom: 0;
            right: 0;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 200px 100px;
            border-color: transparent transparent rgba(7, 233, 210, 0.5) transparent;
            z-index: 6000; }
          #page3 .content #slider > ul > li .element img {
            position: relative;
            width: 100%;
            height: 100%; }
          #page3 .content #slider > ul > li .element .depiction {
            position: absolute;
            bottom: 5rem;
            right: 0;
            width: 50%;
            height: 15rem;
            padding: 1rem;
            background: rgba(48, 52, 55, 0.8); }
            #page3 .content #slider > ul > li .element .depiction > ul > li {
              margin-left: 1.5rem;
              list-style: disc; }
            #page3 .content #slider > ul > li .element .depiction a {
              display: inline;
              position: absolute;
              bottom: 1rem;
              right: 5rem;
              padding: .5rem;
              text-align: center;
              font-size: .9rem;
              border: 2px solid #ffe9d2;
              border-radius: 5px;
              cursor: pointer;
              color: #ffe9d2; }
              #page3 .content #slider > ul > li .element .depiction a:hover {
                background: #ffe9d2;
                color: #303437; }
  #page3 .content #slider-prev {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 2%;
    cursor: pointer;
    fill: #DDD; }
    #page3 .content #slider-prev:hover {
      transform: scale(1.05);
      fill: #FFF; }
  #page3 .content #slider-next {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    right: 2%;
    cursor: pointer;
    fill: #DDD; }
    #page3 .content #slider-next:hover {
      transform: scale(1.05);
      fill: #FFF; }

#page4 .content {
  position: relative;
  z-index: 5000;
  width: 100%;
  height: 100%; }
  #page4 .content .thx-box {
    float: right;
    width: 40%;
    height: 100%;
    margin-right: 10%;
    padding: 5% 2%;
    font-size: 2rem;
    font-weight: 600; }
  #page4 .content .communicate-box {
    float: left;
    width: 40%;
    height: 100%;
    padding: 5% 2%;
    margin-left: 10%; }
    #page4 .content .communicate-box form {
      height: 100%;
      width: 100%; }
    #page4 .content .communicate-box input {
      width: 100%;
      padding: 1rem;
      margin-bottom: 5%;
      border: 2px solid #ffe9d2;
      border-radius: 10px; }
    #page4 .content .communicate-box textarea {
      resize: none;
      width: 100%;
      height: 40%;
      padding: .5rem;
      border: 2px solid #ffe9d2;
      border-radius: 10px; }
    #page4 .content .communicate-box .button {
      width: 100%;
      padding: 1rem;
      text-align: center;
      margin-top: 1rem;
      border: 2px solid #ffe9d2;
      border-radius: 10px;
      cursor: pointer; }
      #page4 .content .communicate-box .button:hover {
        background: #ffe9d2;
        color: #303437; }
