doctype html
html(lang='zh-tw')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Cache-control' content='public')
    meta(http-equiv='max-age' content='864000')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='author' content='Berglas')
    meta(name='copyright' content='Berglas')
    title 404
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='dest/css/404.css')
  body
    .box
      .content
        span Oops！Page not found.
      .text1 4
      .text2 0
      .text3 4
      .wave1(style='width: 3600px; height: 3600px')
      .wave2(style='width: 4800px; height: 4800px')
      .wave3(style='width: 2400px; height: 2400px')
    