doctype html
html(lang='zh-tw')
  head
    meta(charset='UTF-8')
    title 404
    script.
      
    style.
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
      }

      .text1 {
        position: absolute;
        left: calc(50% - 240px);
        top: calc(50% + 160px);
        transform: translate(-50%, -50%);
        width: 240px;
        font-size: 240px;
        color: #FFF;
        text-align: center;
        text-shadow: #666 2px 4px 8px;
        font-weight: 600;
      }
      .text2 {
        position: absolute;
        left: calc(50%);
        top: calc(50% + 160px);
        transform: translate(-50%, -50%);
        width: 240px;
        font-size: 240px;
        color: #FFF;
        text-align: center;
        text-shadow: #666 2px 4px 8px;
        font-weight: 600;
      }
      .text3 {
        position: absolute;
        left: calc(50% + 240px);
        top: calc(50% + 160px);
        transform: translate(-50%, -50%);
        width: 240px;
        font-size: 240px;
        color: #FFF;
        text-align: center;
        text-shadow: #666 2px 4px 8px;
        font-weight: 600;
      }

      .box {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      .wave1 {
        position: absolute;
        left: -40%;
        top: 80%;
        background: rgba(60,90,150, .5);
        border-radius: 40% 45% 35% 38%;
        animation: wave1 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      }

      .wave2 {
        position: absolute;
        left: -80%;
        top: 80%;
        background: rgba(60,90,150, .5);
        border-radius: 40% 45% 35% 38%;
        animation: wave2 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      }

      .wave3 {
        position: absolute;
        left: -20%;
        top: 90%;
        background: rgba(60,90,150, .5);
        border-radius: 40% 45% 35% 38%;
        animation: wave3 16s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      }

      @keyframes wave1 {
          0% {
            transform:rotate(45deg);
          }

          100% {
            transform:rotate(405deg);
          }
      }

      @keyframes wave2 {
          0% {
            transform:rotate(135deg);
          }

          100% {
            transform:rotate(495deg);
          }
      }

      @keyframes wave3 {
          0% {
            transform:rotate(0deg);
          }

          100% {
            transform:rotate(360deg);
          }
      }
  body
    .box
      .text1 4
      .text2 0
      .text3 4
      .wave1(style='width: 3600px; height: 3600px')
      .wave2(style='width: 4800px; height: 4800px')
      .wave3(style='width: 2400px; height: 2400px')
    