doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Cache-control' content='public')
    meta(http-equiv='max-age' content='864000')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='author' content='Berglas')
    meta(name='copyright' content='Berglas')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 巴格.生活日記•學習筆記
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/dest/css/main.css')
    script(src='https://code.jquery.com/jquery-3.5.0.min.js' integrity='sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js')
    script(src='/dest/js/main.js')
  body
    .header
      .logo(onclick='javascript:location.href="/"')
      .title 
        h1 巴格.生活日記•學習筆記
        p - 取之於網路，用之於網路 -
      ul.menu-list
        li(class='list' title='關於這裡')
          a(href='/dest/articles/2020/4/origin.html') 
            sapn 關於這裡
        li(class='list' title='所有文章')
          a(href='/dest/articles/1.html') 
            sapn 所有文章
        li(class='list' title='聯絡我')
          a(href='/list.html') 
            sapn 聯絡我
    .container
      #articles
        .cell(v-for='item in dataList')
          h2.title {{item.title}} 
          .preview
            img(src='/')
          .depiction {{item.depiction}}
          p.time-mark {{item.date.substring(0, 10)}}
      .footer
        .license 
    script.
      new Vue({
        el: '#articles',
        data () {
          return {
            pageList: [],
            dataList: [],
            index: 0,
            amount: 9
          }
        },
        watch: {
          index: {
            handler (val) {
              this.loadData()
            }
          }
        },
        methods: {
          loadData (tag, search) {
            this.dataList = this.dataList.concat(this.pageList.slice(this.index * this.amount, (this.index + 1) * this.amount))
          }
        },
        mounted () {
          window.addEventListener('scroll', () => {
            if (($(window).height() + $(window).scrollTop()) >= document.body.offsetHeight + 112) { // header 高度，因為她是flex
              this.index += 1
            }
          }, false)
          $.getJSON("/dest/articles/pageList.json", e => {
            this.pageList = e
            this.dataList = this.dataList.concat(this.pageList.slice(this.index * this.amount, (this.index + 1) * this.amount))
          })
        }
      })

      $(document).ready(() => {
        $('#articles .title').css({fill: '#0f0'})
        
      });