doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Cache-control' content='public')
    meta(http-equiv='max-age' content='864000')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='author' content='Berglas')
    meta(name='copyright' content='Berglas')
    //- link(rel='icon', type='image/png', href='image/logo.png', sizes='16x16')
    title Simple.STUDIO
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- script(type='text/javascript', src='dest/js/package/jquery.min.js')
    //- script(type='text/javascript', src='js/main.min.js')
    link(rel='stylesheet', type='text/css', href='dest/css/main.css')
  body
    .header
      .top-menu
        h1.title Simple Studio Blog
    .container
      .content
        main
    .footer
      .license Copyright © Berglas 2020.
      //- ul.menu
        li(class='list' title='文章列表')
          a(href='/list.html') ARCHIVE
        li(class='list' title='文章列表')
          a(href='/list.html') ARCHIVE
        li(class='list' title='文章列表')
          a(href='/list.html') ARCHIVE 
      //- #main-menu
        .mobile-menu
          span
          span
          span
        .menu
          a(href='/')
            i
            | ALL
          a(href='/index.html?tag-creative')
            i
            | Vue
          a(href='/index.html?tag-ui')
            i
            | UI & UX
          a(href='/index.html?tag-photo')
            i
            | PHOTO
          a(href='/index.html?tag-css')
            i 日文            
          a(href='/index.html?tag-web')
            i
          a(href='/index.html?tag-share')
            i 食光旅人
          a(href='/index.html?tag-others')
            i
            | OTHERS
          a(href='/list.html')
            i
            | ARCHIVE
  body
