doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Cache-control' content='public')
    meta(http-equiv='max-age' content='864000')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='icon', type='image/png', href='image/logo.png', sizes='16x16')
    title Resume123
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript', src='js/package/jquery.min.js')
    script(type='text/javascript', src='js/package/jquery.mobile.custom.min.js')
    script(type='text/javascript', src='js/package/bootstrap.min.js')
    script(type='text/javascript', src='https://use.fontawesome.com/4d7505a8d4.js')
    link(rel='stylesheet', type='text/css', href='css/package/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/package/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/all.css')
    script(type='text/javascript', src='js/Home.min.js')
    script(type='text/javascript', src='js/sliding-menu.min.js')
    script(type='text/javascript', src='js/translate.min.js?ver3.2')
  body
    #home_menu.sliding-menu.ver2
      nav
        ul
          li(data-menuanchor='page1')
            a.lang(data-key='Itme_PROFILE', href='#page1')
            p.lang(data-key='Itme_PROFILE_1')
            p.lang(data-key='Itme_PROFILE_2')
            p.lang(data-key='Itme_PROFILE_3')
          li(data-menuanchor='page2')
            a.lang(data-key='Itme_SKILLS', href='#page2')
            p.lang(data-key='Itme_SKILLS_1')
            p.lang(data-key='Itme_SKILLS_2')
            p.lang(data-key='Itme_SKILLS_3')
          li(data-menuanchor='page3')
            a.lang(data-key='Itme_PORTFOLIO', href='#page3')
            p.lang(data-key='Itme_PORTFOLIO_1')
            p.lang(data-key='Itme_PORTFOLIO_2')
            p.lang(data-key='Itme_PORTFOLIO_3')
            p.lang(data-key='Itme_PORTFOLIO_4')
            p.lang(data-key='Itme_PORTFOLIO_5')
          li(data-menuanchor='page4')
            a.lang(data-key='Itme_CONTACT', href='#page4')
            p.lang(data-key='Itme_CONTACT_1')
        #zh-tw.translate 中
        #en.translate EN
        .fa.fa-home.fa-4x
          a(href='#page0')
    section#page0
      .web-title
        .has-animation.animation(data-delay='100')
          h1 MY RESUME
        h2 »HI! I AM KEVIN LIN.
        h2 »I LIKE DESIGN.
        h2 »I LIKE PROGRAM.
        h2 »HELLO WORLD!
      .scroll-button
        a(href='#page1')
        svg(fill='#fff', viewBox='0 0 40 40')
          g
            path(d='m31 16.4q0 0.3-0.2 0.5l-10.4 10.4q-0.3 0.3-0.5 0.3t-0.6-0.3l-10.4-10.4q-0.2-0.2-0.2-0.5t0.2-0.5l1.2-1.1q0.2-0.2 0.5-0.2t0.5 0.2l8.8 8.8 8.7-8.8q0.3-0.2 0.5-0.2t0.6 0.2l1.1 1.1q0.2 0.2 0.2 0.5z')
    section#page1
      h1.profile-title.lang(data-key='Itme_PROFILE')
      .wave-box
        .wave
        .wave
      .profile-info
        .profile-photo
        .profile-about
          h2.lang(data-key='PROFILE_Hi')
          p.lang(data-key='PROFILE_AboutMe')
      .profile-autobiography
        div
          h2.lang(data-key='PROFILE_Autobiography_title')
          h3.lang(data-key='PROFILE_Autobiography_now_title')
          p.lang(data-key='PROFILE_Autobiography_now_1')
          p.lang(data-key='PROFILE_Autobiography_now_2')
          p.lang(data-key='PROFILE_Autobiography_now_3')
          h3.lang(data-key='PROFILE_Autobiography_future_title')
          p.lang(data-key='PROFILE_Autobiography_future')
      .profile-experience
        div
          //
            <h2 class='lang' data-key="PROFILE_Education_title"></h2>
            <p class='lang' data-key="PROFILE_Education1"></p>
          h2.lang(data-key='PROFILE_Experience_title')
          h3.lang(data-key='RESUME_Experience_4')
          p.lang(data-key='RESUME_Experience_4_content_1')
          p.lang(data-key='RESUME_Experience_4_content_2')
          h3.lang(data-key='RESUME_Experience_3')
          h3.lang(data-key='RESUME_Experience_2')
          p.lang(data-key='RESUME_Experience_2_content_1')
          p.lang(data-key='RESUME_Experience_2_content_2')
          h3.lang(data-key='RESUME_Experience_1')
          p.lang(data-key='RESUME_Experience_1_content')
    section#page2
      h1.skill-title.lang(data-key='Itme_SKILLS')
      .skill-box
        .expanded-box
          .expanded-switch
          .expanded-content
            .content-title.lang(data-key='SKILLS_frontend')
            .skill-img(style='background: url(image/front-end.jpg);')
            .skill-content
              .skill-bar-box
                .skill-bar(data-value='80%', data-color='#A174B4')
                  p HTML5
                br
                .skill-bar(data-value='80%', data-color='#A174B4')
                  p CSS/LESS
                br
                .skill-bar(data-value='75%', data-color='#A174B4')
                  p JavaScript/JQuery
                br
                .skill-bar(data-value='40%', data-color='#A174B4')
                  p Vue.js
                br
                p.lang(data-key='SKILLS_frontend_content_1')
                p.lang(data-key='SKILLS_frontend_content_2')
                p.lang(data-key='SKILLS_frontend_content_3')
                .expanded-button.skill-button.lang(data-key='READ_MORE')
        .expanded-box
          .expanded-switch
          .expanded-content
            .content-title.lang(data-key='SKILLS_backend')
            .skill-img(style='background: url(image/back-end.jpg);')
            .skill-content
              .skill-bar-box
                .skill-bar(data-value='70%', data-color='#A174B4')
                  p ASP.NET MVC(C#)
                br
                .skill-bar(data-value='60%', data-color='#A174B4')
                  p Golang
                br
                p.lang(data-key='SKILLS_backend_content_1')
                p.lang(data-key='SKILLS_backend_content_2')
                .expanded-button.skill-button.lang(data-key='READ_MORE')
        .expanded-box
          .expanded-switch
          .expanded-content
            .content-title.lang(data-key='SKILLS_others')
            .skill-img(style='background: url(image/others.jpg);')
            .skill-content
              .skill-bar-box
                .skill-bar(data-value='75%', data-color='#A174B4')
                  p MS SQL/PostgreSQL
                br
                .skill-bar(data-value='60%', data-color='#A174B4')
                  p Git
                br
                .skill-bar(data-value='75%', data-color='#A174B4')
                  p SVN
                br
                p.lang(data-key='SKILLS_others_content_1')
                p.lang(data-key='SKILLS_others_content_2')
                .expanded-button.skill-button.lang(data-key='READ_MORE')
    section#page3
      h1.protfolio-title.lang(data-key='Itme_PORTFOLIO')
      .protfolio-item-box
        #protfolio_carousel.carousel.slide
          ul.carousel-indicators
          .carousel-inner
            .carousel-item.active
              .protfolio-img(style='background: url(image/protfolio-resume.png)')
              .protfolio-info
                h3.lang(data-key='PORTFOLIO_item_title_1')
                p.lang(data-key='PORTFOLIO_item_description_1')
                .lang.my-button-2.lang(data-key='READ_MORE', style='width: 120px;', onclick="window.open('https://github.com/Berglas/my-resume-heroku')")
            .carousel-item
              .protfolio-img(style='background: url(image/marry.png)')
              .protfolio-info
                h3.lang(data-key='PORTFOLIO_item_title_2')
                p.lang(data-key='PORTFOLIO_item_description_2')
                .lang.my-button-2.lang(data-key='READ_MORE', style='width: 120px;', onclick="window.open('https://berglas-resume-two.herokuapp.com/game')")
            .carousel-item
              .protfolio-img(style='background: url(image/DataGenerator.jpg)')
              .protfolio-info
                h3.lang(data-key='PORTFOLIO_item_title_3')
                p.lang(data-key='PORTFOLIO_item_description_3')
                .lang.my-button-2.lang(data-key='READ_MORE', style='width: 120px;', onclick="window.open('https://github.com/Berglas/DataGenerator')")
            .carousel-item
              .protfolio-img(style='background: url(image/web-crawler.jpg)')
              .protfolio-info
                h3.lang(data-key='PORTFOLIO_item_title_4')
                p.lang(data-key='PORTFOLIO_item_description_4')
                .lang.my-button-2.lang(data-key='READ_MORE', style='width: 120px;', onclick="window.open('https://github.com/Berglas/Crawler')")
            .carousel-item
              .protfolio-img(style='background: url(image/mycodepen.png)')
              .protfolio-info
                h3.lang(data-key='PORTFOLIO_item_title_5')
                p.lang(data-key='PORTFOLIO_item_description_5')
                .lang.my-button-2.lang(data-key='READ_MORE', style='width: 120px;', onclick="window.open('https://codepen.io/berglas')")
          a.carousel-control-prev.remove-bootstrap-carousel-control(href='#protfolio_carousel', data-slide='prev')
            span.carousel-control-prev-icon
          a.carousel-control-next.remove-bootstrap-carousel-control(href='#protfolio_carousel', data-slide='next')
            span.carousel-control-next-icon
    section#page4
      .communicate-box
        h1.title.lang(data-key='Itme_CONTACT')
        form#mail_form(action='https://formspree.io/sasuke01260616@gmail.com', method='POST')
          input(type='text', name='name', placeholder='Your Name')
          input(type='email', name='_replyto', placeholder='Your Email')
          textarea(name='content', placeholder='Message...')
          .lang.my-button(data-key='send_button', onclick='send_mail()', style='width: 150px;')
      .thx-box
        div
          p.lang(data-key='CONTACT_thx_info_content_1')
          p.lang(data-key='CONTACT_thx_info_content_2')
          p.lang(data-key='CONTACT_thx_info_signature')
        div
          a.fa.fa-envelope-o.fa-3x(href='mailto:sasuke01260616@gmail.com')
          a.fa.fa-github.fa-3x(href='https://github.com/Berglas', target='_blank')
          a.fa.fa-codepen.fa-3x(href='https://codepen.io/berglas', target='_blank')
        h3 Copyright © Kevin Lin 2018
    script(type='text/javascript').
      $(document).ready(function() {
        var language = getCookie("language");
        if (language == null || language == "") {
        language = "zh-tw";
      }
      $('#' + language)[0].classList.add("language-select");
      $('.lang').each(function(index, element) {
      $(this).text(arrLang[language][$(this).attr('data-key')]);
      });
      $("#protfolio_carousel").swiperight(function() {
        $(this).carousel('prev');
      });
      $("#protfolio_carousel").swipeleft(function() {
        $(this).carousel('next');
        });
      });
