doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Cache-control' content='public')
    meta(http-equiv='max-age' content='864000')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='author' content='Berglas')
    meta(name='copyright' content='Berglas')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 巴格.生活日記•學習筆記
    link(rel='shortcut icon' type='image/x-icon' href='../../favicon.ico')
    link(rel='stylesheet', type='text/css', href='../../dest/css/main.css')
    script(src='../../dest/js/package/jquery.min.js')
  body
    .header
      .logo(onclick='javascript:location.href="/"')
      .title 
        h1 巴格.生活日記•學習筆記
        p - 取之於網路，用之於網路 -
      ul.menu-list
        li(class='list' title='關於這裡')
          a(href='/dest/articles/test.html') 
            sapn 關於這裡
        li(class='list' title='所有文章')
          a(href='/dest/articles/1.html') 
            sapn 所有文章
        li(class='list' title='聯絡我')
          a(href='/list.html') 
            sapn 聯絡我
    .container
      .outline-box
      .tag-box
      .content
        main
      .bonus-box
      .footer
        .license 
    script.
      $(document).ready(function() {
        $(window).bind('scroll', function() {
          let navHeight = $('.header').height();
          if ($(window).scrollTop() > navHeight / 2) {
            $('.header').addClass('reduce');
            $('.container').addClass('xx');
          }
          else {
            $('.header').removeClass('reduce');
            $('.container').removeClass('xx');
          }
        });

        let currentDateTime = new Date().getFullYear()
        $('.license').text('Copyright © Berglas ' + currentDateTime + '.')
      });