doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Cache-control' content='public')
    meta(http-equiv='max-age' content='864000')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='author' content='Berglas')
    meta(name='copyright' content='Berglas')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(content='100002164450594', property='fb:admins')
    meta(content='722056048603698', property='fb:app_id')
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/dest/css/main.css')
    script(src='https://code.jquery.com/jquery-3.5.0.min.js' integrity='sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js')
    script(src='/dest/js/main.js')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/monokai-sublime.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js')
    script.
      hljs.initHighlightingOnLoad('Codepen Embed')
    <!---->    
    <!--@@placeholder=webTitle-->
  body
    .header
      .logo(onclick='javascript:location.href="/"')
      .title 
        h1 巴格.生活日記•學習筆記
        span - 取之於網路，用之於網路 -
      ul.menu-list
        li(title='關於這裡')
          a(href='/dest/articles/first.html') 
            sapn 關於這裡
        li(title='所有文章')
          a(href='/dest/articles/1.html') 
            sapn 所有文章
        li(class='list' title='聯絡我')
          a(href='/resume.html') 
            sapn 聯絡我
    .container
      //- .outline-box
      //- .tag-box
      .content
        main
          .title-box
            <!----> 
            <!--@@placeholder=contentTitle-->
          .depiction-box
            <!----> 
            <!--@@placeholder=depiction-->
          <!----> 
          <!--@@placeholder=content-->
      //- .bonus-box
      .comments-box
        #fb-root
        script(async='', defer='', crossorigin='anonymous', src='https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v7.0&appId=722056048603698&autoLogAppEvents=1')
        .fb-comments(data-numposts='5', data-width='100%')
      .footer
        .license