doctype html
html(lang='zh-tw')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Cache-control' content='public')
    meta(http-equiv='max-age' content='864000')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', type='text/css', href='/dest/css/resume.css')
    script(src='https://code.jquery.com/jquery-3.5.0.min.js' integrity='sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js')    
    script(src='/dest/js/resume.js')
  body
    .header-menu      
      a.icon.icon-home(href='#page0')
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 339.66 339.66')
          g
            path.cls-1(d='M363.75,85.94c-10.22,14-22.75,31-35.47,48.1a109.06,109.06,0,0,0-29.53-15.66l19.62-56.48A169.07,169.07,0,0,1,363.75,85.94Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M294.6,388.88l-11.25-58.72a109.06,109.06,0,0,1-33.4,1.21c-2.43,21.21-4.8,42.17-6.66,59.39A169.07,169.07,0,0,0,294.6,388.88Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M107,289.69c15.84-7,35.18-15.43,54.77-23.92a109.06,109.06,0,0,0,17.75,28.32l-45.23,39.1A169.07,169.07,0,0,1,107,289.69Z', transform='translate(-92.85 -52.38)')
            circle.cls-2(cx='169.83', cy='169.83', r='126.56')
            path.cls-3(d='M225.92,190.1a48,48,0,0,0-3.37,4.32l7.78,5.39a40.37,40.37,0,0,1,2.72-3.48Zm15-11.61,4.21,8.48a39.13,39.13,0,0,1,17.52-4.11v-9.47A48.51,48.51,0,0,0,240.95,178.48Zm-12.28,8.71,6.59,6.79a39.06,39.06,0,0,1,7.09-5.46l-4.89-8.11A48.57,48.57,0,0,0,228.67,187.19Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M216.49,238a48,48,0,0,0,2.05,5.08l8.55-4a40.4,40.4,0,0,1-1.66-4.09Zm-2.54-18.82,9.45.59a39.13,39.13,0,0,1,5.2-17.23l-8.2-4.73A48.51,48.51,0,0,0,213.95,219.17Zm1.4,15,9.17-2.31a39.07,39.07,0,0,1-1.18-8.87l-9.47.18A48.56,48.56,0,0,0,215.35,234.15Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M253.25,270.11a48,48,0,0,0,5.42.76l.77-9.43a40.36,40.36,0,0,1-4.37-.61Zm-17.57-7.21,5.24-7.89a39.13,39.13,0,0,1-12.32-13.12l-8.2,4.73A48.51,48.51,0,0,0,235.68,262.9Zm13.68,6.28,2.58-9.1a39.08,39.08,0,0,1-8.27-3.41L239.09,265A48.56,48.56,0,0,0,249.36,269.17Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M299.44,254.33a48,48,0,0,0,3.37-4.32L295,244.63a40.37,40.37,0,0,1-2.72,3.48Zm-15,11.61-4.21-8.48a39.13,39.13,0,0,1-17.52,4.11V271A48.51,48.51,0,0,0,284.41,265.94Zm12.28-8.71-6.59-6.79a39.07,39.07,0,0,1-7.09,5.46l4.89,8.11A48.57,48.57,0,0,0,296.69,257.23Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M308.88,206.43a48,48,0,0,0-2.05-5.08l-8.55,4a40.38,40.38,0,0,1,1.66,4.09Zm2.54,18.82-9.45-.59a39.13,39.13,0,0,1-5.2,17.23l8.2,4.73A48.51,48.51,0,0,0,311.42,225.26Zm-1.4-15-9.17,2.31a39.07,39.07,0,0,1,1.19,8.87l9.47-.18A48.57,48.57,0,0,0,310,210.27Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M272.11,174.32a48,48,0,0,0-5.42-.76l-.77,9.43a40.39,40.39,0,0,1,4.37.61Zm17.57,7.21-5.24,7.89a39.13,39.13,0,0,1,12.32,13.12l8.2-4.73A48.51,48.51,0,0,0,289.69,181.53ZM276,175.25l-2.58,9.1a39.07,39.07,0,0,1,8.27,3.41l4.58-8.29A48.57,48.57,0,0,0,276,175.25Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M248.43,287.16l-.61,2.77a69,69,0,0,1-24-10.26l1.58-2.35A66.41,66.41,0,0,0,248.43,287.16Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M303.81,278a69,69,0,0,1-29.52,12.51l-.47-2.8a66.2,66.2,0,0,0,28.32-12Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M330.44,236.84a68.79,68.79,0,0,1-8.9,22l-2.4-1.5a66.22,66.22,0,0,0,8.53-21.14Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M328.53,213.07a66.22,66.22,0,0,0-10-27.05l2.38-1.54a69,69,0,0,1,10.48,28.2Z', transform='translate(-92.85 -52.38)')
            path.cls-6(d='M213.08,268.62a67.93,67.93,0,0,1,96.75-95.32', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M220.4,301a89.39,89.39,0,0,1-9.48-151.61', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M262.68,132.85A89.37,89.37,0,0,1,352,222.21', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M350.47,239a89.4,89.4,0,0,1-87.79,72.55', transform='translate(-92.85 -52.38)')
            svg.main(xmlns='http://www.w3.org/2000/svg', viewBox='-670 -670 1900 1900')
              path(d='M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z')
      a.icon.icon-profile(href='#page1')
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 339.66 339.66')
          g
            path.cls-1(d='M363.75,85.94c-10.22,14-22.75,31-35.47,48.1a109.06,109.06,0,0,0-29.53-15.66l19.62-56.48A169.07,169.07,0,0,1,363.75,85.94Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M294.6,388.88l-11.25-58.72a109.06,109.06,0,0,1-33.4,1.21c-2.43,21.21-4.8,42.17-6.66,59.39A169.07,169.07,0,0,0,294.6,388.88Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M107,289.69c15.84-7,35.18-15.43,54.77-23.92a109.06,109.06,0,0,0,17.75,28.32l-45.23,39.1A169.07,169.07,0,0,1,107,289.69Z', transform='translate(-92.85 -52.38)')
            circle.cls-2(cx='169.83', cy='169.83', r='126.56')
            path.cls-3(d='M225.92,190.1a48,48,0,0,0-3.37,4.32l7.78,5.39a40.37,40.37,0,0,1,2.72-3.48Zm15-11.61,4.21,8.48a39.13,39.13,0,0,1,17.52-4.11v-9.47A48.51,48.51,0,0,0,240.95,178.48Zm-12.28,8.71,6.59,6.79a39.06,39.06,0,0,1,7.09-5.46l-4.89-8.11A48.57,48.57,0,0,0,228.67,187.19Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M216.49,238a48,48,0,0,0,2.05,5.08l8.55-4a40.4,40.4,0,0,1-1.66-4.09Zm-2.54-18.82,9.45.59a39.13,39.13,0,0,1,5.2-17.23l-8.2-4.73A48.51,48.51,0,0,0,213.95,219.17Zm1.4,15,9.17-2.31a39.07,39.07,0,0,1-1.18-8.87l-9.47.18A48.56,48.56,0,0,0,215.35,234.15Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M253.25,270.11a48,48,0,0,0,5.42.76l.77-9.43a40.36,40.36,0,0,1-4.37-.61Zm-17.57-7.21,5.24-7.89a39.13,39.13,0,0,1-12.32-13.12l-8.2,4.73A48.51,48.51,0,0,0,235.68,262.9Zm13.68,6.28,2.58-9.1a39.08,39.08,0,0,1-8.27-3.41L239.09,265A48.56,48.56,0,0,0,249.36,269.17Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M299.44,254.33a48,48,0,0,0,3.37-4.32L295,244.63a40.37,40.37,0,0,1-2.72,3.48Zm-15,11.61-4.21-8.48a39.13,39.13,0,0,1-17.52,4.11V271A48.51,48.51,0,0,0,284.41,265.94Zm12.28-8.71-6.59-6.79a39.07,39.07,0,0,1-7.09,5.46l4.89,8.11A48.57,48.57,0,0,0,296.69,257.23Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M308.88,206.43a48,48,0,0,0-2.05-5.08l-8.55,4a40.38,40.38,0,0,1,1.66,4.09Zm2.54,18.82-9.45-.59a39.13,39.13,0,0,1-5.2,17.23l8.2,4.73A48.51,48.51,0,0,0,311.42,225.26Zm-1.4-15-9.17,2.31a39.07,39.07,0,0,1,1.19,8.87l9.47-.18A48.57,48.57,0,0,0,310,210.27Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M272.11,174.32a48,48,0,0,0-5.42-.76l-.77,9.43a40.39,40.39,0,0,1,4.37.61Zm17.57,7.21-5.24,7.89a39.13,39.13,0,0,1,12.32,13.12l8.2-4.73A48.51,48.51,0,0,0,289.69,181.53ZM276,175.25l-2.58,9.1a39.07,39.07,0,0,1,8.27,3.41l4.58-8.29A48.57,48.57,0,0,0,276,175.25Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M248.43,287.16l-.61,2.77a69,69,0,0,1-24-10.26l1.58-2.35A66.41,66.41,0,0,0,248.43,287.16Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M303.81,278a69,69,0,0,1-29.52,12.51l-.47-2.8a66.2,66.2,0,0,0,28.32-12Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M330.44,236.84a68.79,68.79,0,0,1-8.9,22l-2.4-1.5a66.22,66.22,0,0,0,8.53-21.14Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M328.53,213.07a66.22,66.22,0,0,0-10-27.05l2.38-1.54a69,69,0,0,1,10.48,28.2Z', transform='translate(-92.85 -52.38)')
            path.cls-6(d='M213.08,268.62a67.93,67.93,0,0,1,96.75-95.32', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M220.4,301a89.39,89.39,0,0,1-9.48-151.61', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M262.68,132.85A89.37,89.37,0,0,1,352,222.21', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M350.47,239a89.4,89.4,0,0,1-87.79,72.55', transform='translate(-92.85 -52.38)')
            svg.main(xmlns='http://www.w3.org/2000/svg', viewBox='-775 -700 2000 2000')
              path(d='M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z')
      a.icon.icon-skill(href='#page2')
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 339.66 339.66')
          g
            path.cls-1(d='M363.75,85.94c-10.22,14-22.75,31-35.47,48.1a109.06,109.06,0,0,0-29.53-15.66l19.62-56.48A169.07,169.07,0,0,1,363.75,85.94Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M294.6,388.88l-11.25-58.72a109.06,109.06,0,0,1-33.4,1.21c-2.43,21.21-4.8,42.17-6.66,59.39A169.07,169.07,0,0,0,294.6,388.88Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M107,289.69c15.84-7,35.18-15.43,54.77-23.92a109.06,109.06,0,0,0,17.75,28.32l-45.23,39.1A169.07,169.07,0,0,1,107,289.69Z', transform='translate(-92.85 -52.38)')
            circle.cls-2(cx='169.83', cy='169.83', r='126.56')
            path.cls-3(d='M225.92,190.1a48,48,0,0,0-3.37,4.32l7.78,5.39a40.37,40.37,0,0,1,2.72-3.48Zm15-11.61,4.21,8.48a39.13,39.13,0,0,1,17.52-4.11v-9.47A48.51,48.51,0,0,0,240.95,178.48Zm-12.28,8.71,6.59,6.79a39.06,39.06,0,0,1,7.09-5.46l-4.89-8.11A48.57,48.57,0,0,0,228.67,187.19Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M216.49,238a48,48,0,0,0,2.05,5.08l8.55-4a40.4,40.4,0,0,1-1.66-4.09Zm-2.54-18.82,9.45.59a39.13,39.13,0,0,1,5.2-17.23l-8.2-4.73A48.51,48.51,0,0,0,213.95,219.17Zm1.4,15,9.17-2.31a39.07,39.07,0,0,1-1.18-8.87l-9.47.18A48.56,48.56,0,0,0,215.35,234.15Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M253.25,270.11a48,48,0,0,0,5.42.76l.77-9.43a40.36,40.36,0,0,1-4.37-.61Zm-17.57-7.21,5.24-7.89a39.13,39.13,0,0,1-12.32-13.12l-8.2,4.73A48.51,48.51,0,0,0,235.68,262.9Zm13.68,6.28,2.58-9.1a39.08,39.08,0,0,1-8.27-3.41L239.09,265A48.56,48.56,0,0,0,249.36,269.17Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M299.44,254.33a48,48,0,0,0,3.37-4.32L295,244.63a40.37,40.37,0,0,1-2.72,3.48Zm-15,11.61-4.21-8.48a39.13,39.13,0,0,1-17.52,4.11V271A48.51,48.51,0,0,0,284.41,265.94Zm12.28-8.71-6.59-6.79a39.07,39.07,0,0,1-7.09,5.46l4.89,8.11A48.57,48.57,0,0,0,296.69,257.23Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M308.88,206.43a48,48,0,0,0-2.05-5.08l-8.55,4a40.38,40.38,0,0,1,1.66,4.09Zm2.54,18.82-9.45-.59a39.13,39.13,0,0,1-5.2,17.23l8.2,4.73A48.51,48.51,0,0,0,311.42,225.26Zm-1.4-15-9.17,2.31a39.07,39.07,0,0,1,1.19,8.87l9.47-.18A48.57,48.57,0,0,0,310,210.27Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M272.11,174.32a48,48,0,0,0-5.42-.76l-.77,9.43a40.39,40.39,0,0,1,4.37.61Zm17.57,7.21-5.24,7.89a39.13,39.13,0,0,1,12.32,13.12l8.2-4.73A48.51,48.51,0,0,0,289.69,181.53ZM276,175.25l-2.58,9.1a39.07,39.07,0,0,1,8.27,3.41l4.58-8.29A48.57,48.57,0,0,0,276,175.25Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M248.43,287.16l-.61,2.77a69,69,0,0,1-24-10.26l1.58-2.35A66.41,66.41,0,0,0,248.43,287.16Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M303.81,278a69,69,0,0,1-29.52,12.51l-.47-2.8a66.2,66.2,0,0,0,28.32-12Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M330.44,236.84a68.79,68.79,0,0,1-8.9,22l-2.4-1.5a66.22,66.22,0,0,0,8.53-21.14Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M328.53,213.07a66.22,66.22,0,0,0-10-27.05l2.38-1.54a69,69,0,0,1,10.48,28.2Z', transform='translate(-92.85 -52.38)')
            path.cls-6(d='M213.08,268.62a67.93,67.93,0,0,1,96.75-95.32', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M220.4,301a89.39,89.39,0,0,1-9.48-151.61', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M262.68,132.85A89.37,89.37,0,0,1,352,222.21', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M350.47,239a89.4,89.4,0,0,1-87.79,72.55', transform='translate(-92.85 -52.38)')
            svg.main(xmlns='http://www.w3.org/2000/svg', viewBox='-815 -825 2200 2200')
              path(d='M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z')
      a.icon.icon-portfolio(href='#page3')
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 339.66 339.66')
          g
            path.cls-1(d='M363.75,85.94c-10.22,14-22.75,31-35.47,48.1a109.06,109.06,0,0,0-29.53-15.66l19.62-56.48A169.07,169.07,0,0,1,363.75,85.94Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M294.6,388.88l-11.25-58.72a109.06,109.06,0,0,1-33.4,1.21c-2.43,21.21-4.8,42.17-6.66,59.39A169.07,169.07,0,0,0,294.6,388.88Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M107,289.69c15.84-7,35.18-15.43,54.77-23.92a109.06,109.06,0,0,0,17.75,28.32l-45.23,39.1A169.07,169.07,0,0,1,107,289.69Z', transform='translate(-92.85 -52.38)')
            circle.cls-2(cx='169.83', cy='169.83', r='126.56')
            path.cls-3(d='M225.92,190.1a48,48,0,0,0-3.37,4.32l7.78,5.39a40.37,40.37,0,0,1,2.72-3.48Zm15-11.61,4.21,8.48a39.13,39.13,0,0,1,17.52-4.11v-9.47A48.51,48.51,0,0,0,240.95,178.48Zm-12.28,8.71,6.59,6.79a39.06,39.06,0,0,1,7.09-5.46l-4.89-8.11A48.57,48.57,0,0,0,228.67,187.19Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M216.49,238a48,48,0,0,0,2.05,5.08l8.55-4a40.4,40.4,0,0,1-1.66-4.09Zm-2.54-18.82,9.45.59a39.13,39.13,0,0,1,5.2-17.23l-8.2-4.73A48.51,48.51,0,0,0,213.95,219.17Zm1.4,15,9.17-2.31a39.07,39.07,0,0,1-1.18-8.87l-9.47.18A48.56,48.56,0,0,0,215.35,234.15Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M253.25,270.11a48,48,0,0,0,5.42.76l.77-9.43a40.36,40.36,0,0,1-4.37-.61Zm-17.57-7.21,5.24-7.89a39.13,39.13,0,0,1-12.32-13.12l-8.2,4.73A48.51,48.51,0,0,0,235.68,262.9Zm13.68,6.28,2.58-9.1a39.08,39.08,0,0,1-8.27-3.41L239.09,265A48.56,48.56,0,0,0,249.36,269.17Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M299.44,254.33a48,48,0,0,0,3.37-4.32L295,244.63a40.37,40.37,0,0,1-2.72,3.48Zm-15,11.61-4.21-8.48a39.13,39.13,0,0,1-17.52,4.11V271A48.51,48.51,0,0,0,284.41,265.94Zm12.28-8.71-6.59-6.79a39.07,39.07,0,0,1-7.09,5.46l4.89,8.11A48.57,48.57,0,0,0,296.69,257.23Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M308.88,206.43a48,48,0,0,0-2.05-5.08l-8.55,4a40.38,40.38,0,0,1,1.66,4.09Zm2.54,18.82-9.45-.59a39.13,39.13,0,0,1-5.2,17.23l8.2,4.73A48.51,48.51,0,0,0,311.42,225.26Zm-1.4-15-9.17,2.31a39.07,39.07,0,0,1,1.19,8.87l9.47-.18A48.57,48.57,0,0,0,310,210.27Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M272.11,174.32a48,48,0,0,0-5.42-.76l-.77,9.43a40.39,40.39,0,0,1,4.37.61Zm17.57,7.21-5.24,7.89a39.13,39.13,0,0,1,12.32,13.12l8.2-4.73A48.51,48.51,0,0,0,289.69,181.53ZM276,175.25l-2.58,9.1a39.07,39.07,0,0,1,8.27,3.41l4.58-8.29A48.57,48.57,0,0,0,276,175.25Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M248.43,287.16l-.61,2.77a69,69,0,0,1-24-10.26l1.58-2.35A66.41,66.41,0,0,0,248.43,287.16Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M303.81,278a69,69,0,0,1-29.52,12.51l-.47-2.8a66.2,66.2,0,0,0,28.32-12Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M330.44,236.84a68.79,68.79,0,0,1-8.9,22l-2.4-1.5a66.22,66.22,0,0,0,8.53-21.14Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M328.53,213.07a66.22,66.22,0,0,0-10-27.05l2.38-1.54a69,69,0,0,1,10.48,28.2Z', transform='translate(-92.85 -52.38)')
            path.cls-6(d='M213.08,268.62a67.93,67.93,0,0,1,96.75-95.32', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M220.4,301a89.39,89.39,0,0,1-9.48-151.61', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M262.68,132.85A89.37,89.37,0,0,1,352,222.21', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M350.47,239a89.4,89.4,0,0,1-87.79,72.55', transform='translate(-92.85 -52.38)')
            svg.main(xmlns='http://www.w3.org/2000/svg', viewBox='-800 -850 2200 2200')
              path(d='M434.7 64h-85.9c-8 0-15.7 3-21.6 8.4l-98.3 90c-.1.1-.2.3-.3.4-16.6 15.6-16.3 40.5-2.1 56 12.7 13.9 39.4 17.6 56.1 2.7.1-.1.3-.1.4-.2l79.9-73.2c6.5-5.9 16.7-5.5 22.6 1 6 6.5 5.5 16.6-1 22.6l-26.1 23.9L504 313.8c2.9 2.4 5.5 5 7.9 7.7V128l-54.6-54.6c-5.9-6-14.1-9.4-22.6-9.4zM544 128.2v223.9c0 17.7 14.3 32 32 32h64V128.2h-96zm48 223.9c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zM0 384h64c17.7 0 32-14.3 32-32V128.2H0V384zm48-63.9c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16c0-8.9 7.2-16 16-16zm435.9 18.6L334.6 217.5l-30 27.5c-29.7 27.1-75.2 24.5-101.7-4.4-26.9-29.4-24.8-74.9 4.4-101.7L289.1 64h-83.8c-8.5 0-16.6 3.4-22.6 9.4L128 128v223.9h18.3l90.5 81.9c27.4 22.3 67.7 18.1 90-9.3l.2-.2 17.9 15.5c15.9 13 39.4 10.5 52.3-5.4l31.4-38.6 5.4 4.4c13.7 11.1 33.9 9.1 45-4.7l9.5-11.7c11.2-13.8 9.1-33.9-4.6-45.1z')
      a.icon.icon-contact(href='#page4')
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 339.66 339.66')
          g
            path.cls-1(d='M363.75,85.94c-10.22,14-22.75,31-35.47,48.1a109.06,109.06,0,0,0-29.53-15.66l19.62-56.48A169.07,169.07,0,0,1,363.75,85.94Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M294.6,388.88l-11.25-58.72a109.06,109.06,0,0,1-33.4,1.21c-2.43,21.21-4.8,42.17-6.66,59.39A169.07,169.07,0,0,0,294.6,388.88Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M107,289.69c15.84-7,35.18-15.43,54.77-23.92a109.06,109.06,0,0,0,17.75,28.32l-45.23,39.1A169.07,169.07,0,0,1,107,289.69Z', transform='translate(-92.85 -52.38)')
            circle.cls-2(cx='169.83', cy='169.83', r='126.56')
            path.cls-3(d='M225.92,190.1a48,48,0,0,0-3.37,4.32l7.78,5.39a40.37,40.37,0,0,1,2.72-3.48Zm15-11.61,4.21,8.48a39.13,39.13,0,0,1,17.52-4.11v-9.47A48.51,48.51,0,0,0,240.95,178.48Zm-12.28,8.71,6.59,6.79a39.06,39.06,0,0,1,7.09-5.46l-4.89-8.11A48.57,48.57,0,0,0,228.67,187.19Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M216.49,238a48,48,0,0,0,2.05,5.08l8.55-4a40.4,40.4,0,0,1-1.66-4.09Zm-2.54-18.82,9.45.59a39.13,39.13,0,0,1,5.2-17.23l-8.2-4.73A48.51,48.51,0,0,0,213.95,219.17Zm1.4,15,9.17-2.31a39.07,39.07,0,0,1-1.18-8.87l-9.47.18A48.56,48.56,0,0,0,215.35,234.15Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M253.25,270.11a48,48,0,0,0,5.42.76l.77-9.43a40.36,40.36,0,0,1-4.37-.61Zm-17.57-7.21,5.24-7.89a39.13,39.13,0,0,1-12.32-13.12l-8.2,4.73A48.51,48.51,0,0,0,235.68,262.9Zm13.68,6.28,2.58-9.1a39.08,39.08,0,0,1-8.27-3.41L239.09,265A48.56,48.56,0,0,0,249.36,269.17Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M299.44,254.33a48,48,0,0,0,3.37-4.32L295,244.63a40.37,40.37,0,0,1-2.72,3.48Zm-15,11.61-4.21-8.48a39.13,39.13,0,0,1-17.52,4.11V271A48.51,48.51,0,0,0,284.41,265.94Zm12.28-8.71-6.59-6.79a39.07,39.07,0,0,1-7.09,5.46l4.89,8.11A48.57,48.57,0,0,0,296.69,257.23Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M308.88,206.43a48,48,0,0,0-2.05-5.08l-8.55,4a40.38,40.38,0,0,1,1.66,4.09Zm2.54,18.82-9.45-.59a39.13,39.13,0,0,1-5.2,17.23l8.2,4.73A48.51,48.51,0,0,0,311.42,225.26Zm-1.4-15-9.17,2.31a39.07,39.07,0,0,1,1.19,8.87l9.47-.18A48.57,48.57,0,0,0,310,210.27Z', transform='translate(-92.85 -52.38)')
            path.cls-3(d='M272.11,174.32a48,48,0,0,0-5.42-.76l-.77,9.43a40.39,40.39,0,0,1,4.37.61Zm17.57,7.21-5.24,7.89a39.13,39.13,0,0,1,12.32,13.12l8.2-4.73A48.51,48.51,0,0,0,289.69,181.53ZM276,175.25l-2.58,9.1a39.07,39.07,0,0,1,8.27,3.41l4.58-8.29A48.57,48.57,0,0,0,276,175.25Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M248.43,287.16l-.61,2.77a69,69,0,0,1-24-10.26l1.58-2.35A66.41,66.41,0,0,0,248.43,287.16Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M303.81,278a69,69,0,0,1-29.52,12.51l-.47-2.8a66.2,66.2,0,0,0,28.32-12Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M330.44,236.84a68.79,68.79,0,0,1-8.9,22l-2.4-1.5a66.22,66.22,0,0,0,8.53-21.14Z', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M328.53,213.07a66.22,66.22,0,0,0-10-27.05l2.38-1.54a69,69,0,0,1,10.48,28.2Z', transform='translate(-92.85 -52.38)')
            path.cls-6(d='M213.08,268.62a67.93,67.93,0,0,1,96.75-95.32', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M220.4,301a89.39,89.39,0,0,1-9.48-151.61', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M262.68,132.85A89.37,89.37,0,0,1,352,222.21', transform='translate(-92.85 -52.38)')
            path.cls-1(d='M350.47,239a89.4,89.4,0,0,1-87.79,72.55', transform='translate(-92.85 -52.38)')
            svg.main(xmlns='http://www.w3.org/2000/svg', viewBox='-600 -600 1700 1700')
              path(d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z')

    section#page0
      .title
        p HOME
      .content
        #radar    
        .container
          - for (var i = 0; i < 30; i++)
            .particle
    section#page1
      .title
        p PROFILE
      .content
        .experience
          .element
            .period 
              span Dec. 2018
            .company 德妮文教機構
              .position 全端系統工程師
              br
              ol         
                li 獨立製作系統權限、收費袋自動計算、支出、收入、財報、自動排班等功能。
                li 組件模組化、優化使用者體驗。
                li 發現且修正或優化「系統登入錯誤」、「部分邏輯錯誤」、「資料結構」、「Restful Api」等。
                li 發現且解決伺服器被外部攻擊以及被當成礦機之情形。
                li 重新結構化Call API問題。
                li 重新設計製作打卡機(硬體配置、韌體設計)。          
          .element          
            .period 
              span Jul. 2015
            .company 捷普綠點科技
              .position 工程師
              br
              ol 
                li 整合多個系統網站，統一入口登入。
                li 維護開發ERP系統。
                li 製作特定產品MES系統，底層數據收集、數據視覺化。
                li 將各個系統導入改有RWD、多語系等功能。
                li 開發KEYENCE PLC數據讀寫程式。
        .introduction
          .my
          h2 About Me
          p 我是林建成，畢業於大葉大學資訊工程系，因從小對電腦方面等資訊有極大的興趣，進而使我選擇了資訊這條路。
          p 個性主動積極，就學期間主動爭取企業全職實習，在實習過程中不斷精進程式開發技能，也實質開發了許多系統功能，因此後來能力適任轉而成為正職人員。
          p 擅長領域為自動化程式開發、網頁設計，前後端程式開發、站台管理、資料庫管理，實質程式開發經驗近五年。
          p 喜歡解決問題；致力於多元學習，現今在學習日文、數位行銷，目標成為數位整合型工程師。
    section#page2
      .title
        p SKILL
      .content
        .skill-box
          span HTML5
          .bar-box
            #h5.bar
          span CSS3／LESS／SASS
          .bar-box
            #css.bar
          span JavaScript ES6／Jquery
          .bar-box
            #js.bar
          span SVG
          .bar-box
            #svg.bar
          span Vue.js
          .bar-box
            #vue.bar
          span Webpack／Gulp
          .bar-box
            #wg.bar
          ul
            li 熟悉設計切版、Web APIs、RWD、多語系、AJAX。
            li 擅長UI設計、模組化、可設計互動式網頁等動畫功能。
            li 具備SEO、使用者體驗（UX）觀念。
        .skill-box
          span ASP.NET MVC(C#)
          .bar-box
            #c.bar
          span Django(Python)
          .bar-box
            #django.bar
          span Gonlang
          .bar-box
            #go.bar
          ul
            li 熟悉串接資料庫、串接／開發Web APIs之能力、物件導向、RESTful、MVC。
            li 可以架設站台、伺服器管理。
        .skill-box
          span SQL
          .bar-box
            #sql.bar
          span Docker
          .bar-box
            #docker.bar
          span Git／SVN
          .bar-box
            #git.bar
          span Arduino
          .bar-box
            #arduino.bar
          span Illustrator
          .bar-box
            #Illustrator.bar
          span Photoshop
          .bar-box
            #Photoshop.bar
          ul
            li 設計／管理資料庫(MS SQL、MySQL、SQLite、PostgreSQL)。
            li Arduino韌體設計。
            li 簡單地修圖、素材製作。
            li 具有Scrum之觀念和經驗。
    section#page3
      .title
        p PORTFOLIO
      .content
        #slider
          ul
            li
              .element
                img(src="./dest/img/blog.png")
                .depiction
                  p 部落格
                  P 個人部落格，利用以下技術建立
                  ul
                    li GitHub(GitPage)：放置靜態網站空間，也順便管理Cdoe。
                    li pug + sass：網頁排版加裝飾風格。
                    li Jquery + Vue：前端邏輯應用，使用Json當資料來源。
                    li MarkDown + Gulp：文章快速建立然後套自己模板。
                  a(href='https://berglas.github.io') Read More
            li
              .element
                img(src="./dest/img/resume.png")
                .depiction
                  p 個人網站
                  p 放置介紹自己、展示作品、技能專長，順便當履歷使用。
                  a(href='https://berglas.github.io/resume.html') Read More
            li
              .element
                img(src="./dest/img/codepen.png")
                .depiction
                  p CodePen
                  ul
                    li 前端應用。
                    li 模組化組件。
                    li 動畫視覺呈現。                  
                  a(href='https://codepen.io/berglas') Read More

            //- li         
            //-   .element
            //-     img(src="", alt="")
            //-     .depiction
            //-       p 網頁：小瑪莉遊戲
            //-       p 一個小練習，嘗試使用純前端做出一個小瑪莉遊戲。
            //- li         
            //-   .element
            //-     img(src="", alt="")
            //-     .depiction
            //-       p codePen

        svg#slider-prev(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 320 512')
          path(d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z')
        svg#slider-next(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 320 512')
          path( d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z')
    section#page4
      .title
        p CONTACT
      .content
        .thx-box
          p 感謝您的拜訪，
          p 如果您有相關問題或想與我合作，都歡迎與我聯繫。
          p 祝您有愉快的一天。
          p -林建成-
        .communicate-box
          form#mail_form(action='https://formspree.io/sasuke01260616@gmail.com', method='POST')
            input(type='text', name='name', placeholder='Your Name')
            input(type='email', name='_replyto', placeholder='Your Email')
            textarea(name='content', placeholder='Message...')
            .button(onclick='send_mail()') Send
    script(type='text/javascript').
      let sketch = p => {
        let t=0
        let count=1
        let angle=0
        let time = {};
        function d() {
          const d = new Date();
          const h = d.getHours();
          const m = d.getMinutes();
          const s = d.getSeconds();
          const result = '+00:' + h + ':' + m + ':' + s;
          time.h = h;
          time.m = m;
          time.s = s;
          return result;
        }
        p.setup = () => {
          p.createCanvas(360, 360);
        }
        p.draw = () => {
          p.clear()
          const w = 360;
          const h = 360;
          p.background('rgba(255, 255, 255, 0)');

          // 十字線
          p.stroke('rgba(7, 233, 210, .1)');
          p.strokeWeight(1);
          p.line(0, h / 2, w, h / 2);
          p.line(w / 2, 0, w / 2, h);

          // 旋轉圓
          let r1 = w / 2.5;
          p.stroke('rgba(7, 233, 210, .3)');
          p.strokeWeight(2);
          p.push();
          p.translate(w / 2, h / 2);
          p.translate(w / 100 / 50, h / 100 / 50);
          p.beginShape();
          p.fill('rgba(7, 233, 210, .3)');

          p.arc(0, 0, 150, 150, p.QUARTER_PI + t / 50, p.PI - p.QUARTER_PI * 2 + t / 50); 
          p.noFill();
          
          // 內刻度
          let r2 = w / 5;
          let num2 = w / 3;
          p.strokeWeight(2);
          p.stroke('rgba(7, 233, 210, .1)');
          for (let i = 0; i < num2; i++) {
            let cp = p.TWO_PI / num2 * i + t / 1000;
            let x1 = r2 * p.cos(cp);
            let y1 = r2 * p.sin(cp);
            let x2 = (r2 + 5) * p.cos(cp);
            let y2 = (r2 + 5) * p.sin(cp);
            p.line(x1, y1, x2, y2);
          }
          p.stroke('rgba(7, 233, 210, .3)');
          p.strokeWeight(2);
          for (let i = 0; i < 8; i++) {
            let cp = p.TWO_PI / 8 * i + t / 2000;
            let x1 = (r2 - 3.5) * p.cos(cp);
            let y1 = (r2 - 3.5) * p.sin(cp);
            let x2 = (r2 + 7) * p.cos(cp);
            let y2 = (r2 + 7) * p.sin(cp);
            p.line(x1, y1, x2, y2);
          }

          // 外刻度
          let r3 = w / 3.5;
          let num3 = 60;
          p.stroke('rgba(7, 233, 210, .1)');
          p.strokeWeight(2);
          for (let i = 0; i < num3; i++) {
            let cp = p.TWO_PI / num3 * i;
            let x1 = r3 * p.cos(cp);
            let y1 = r3 * p.sin(cp);
            let x2 = (r3 + 7) * p.cos(cp);
            let y2 = (r3 + 7) * p.sin(cp);
            p.line(x1, y1, x2, y2);
          }
          p.strokeWeight(2);
          p.stroke('rgba(7, 233, 210, .3)');
          for (let i = 0; i < 4; i++) {
            let cp = p.TWO_PI / 4 * i;
            let x1 = (r3 - 6) * p.cos(cp);
            let y1 = (r3 - 6) * p.sin(cp);
            let x2 = (r3 + 12) * p.cos(cp);
            let y2 = (r3 + 12) * p.sin(cp);
            p.line(x1, y1, x2, y2);
          }

          // 內兩側弧
          const r4 = w / 1.2;
          const angle4 = angle / 80 * (p.PI / 180) + t / 500;
          p.strokeWeight(4);
          p.stroke('rgba(7, 233, 210, .3)');
          p.strokeCap(p.SQUARE);
          p.arc(0, 0, r4, r4, 0 + angle4, p.HALF_PI + angle4);
          p.arc(0, 0, r4, r4, p.PI + angle4, p.PI + p.HALF_PI + angle4);
          p.pop();
          t++;
          angle += count;
          if (angle === 300) {
            count = -1;
          } else if (angle === 0) {
            count = 1;
          } 
        };
      };
      new p5(sketch, window.document.getElementById('radar'));